# 패키지/데이터 가져오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
4/4AE2ecEn-UKViK5B1IGt8mkni9SqCVc6uJtBokn7JLK0b-cuf3-Ihkk
Mounted at /content/drive

In [ ]:
import pickle
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data_dir = '/content/drive/My Drive/2020NLP_Crawl/한국은행논문구현/'

# 뉴스

## 연합뉴스

In [ ]:
yonhap_df = pd.read_csv(data_dir + 'naver(연합뉴스).csv의 사본')

In [ ]:
# 날짜에 들어간 불필요한 공백 제거
yonhap_df['time'] = yonhap_df['time'].str.strip()

# 날짜 datetime으로 변경
yonhap_df['time'] = pd.to_datetime(yonhap_df['time'])

# 날짜순 정렬
yonhap_df.sort_values(by='time', inplace=True, ignore_index=True)

yonhap_df

      media       time                                               body
0      연합뉴스 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t작년동기.전...
1      연합뉴스 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', "\n\t\n\t(서울=연합...
2      연합뉴스 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t거래량 4개...
3      연합뉴스 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t(서울=연합...
4      연합뉴스 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t(서울=연합...
...     ...        ...                                                ...
73770  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t"미·일 잠...
73771  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '1월...
73772  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t(서울=연합...
73773  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '  ...
73774  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\tGDP 성장...

[73775 rows x 3 columns]

In [ ]:
yonhap_df.dtypes

media            object
time     datetime64[ns]
body             object
dtype: object

In [ ]:
yonhap_df[yonhap_df['time'] == '2012.03.13.'].iloc[0,2]

"['\\n\\t', '\\n\\t', '\\n\\n', '\\n', '\\n\\t\\n\\t    (수원=연합뉴스) 최찬흥 기자 = 경기도는 일하기 좋은 기업 20곳과 일하기 좋은 공공기관 5곳을 선발한다고 13일 밝혔다.', '    도는 가족친화적 기업문화 확산을 위해 2010년부터 일하기 좋은 기업 인증제를 실시하고 있으며 지난해부터는 지식경제부와 함께 사업을 확대했다.', '    일하기 좋은 기업은 기업내 정보공유 정도, CEO와 근로자 간 신뢰지수, 자녀출산에 따른 지원, 직원 가족문화 활동, 양육 및 부양가족 지원, 탄력근무제 실시 등 가족친화시스템 구축 여부를 중점적으로 평가해 선발한다.', '    일하기 좋은 기업에 선정되면 중소기업육성자금 지원시 0.5%의 우대금리, 3년간의 지방세 세무조사 유예, 기술닥터사업 신청시 가점 부여 등 27개 항목의 인센티브가 제공된다. 공공기관에는 경영평가에 가산점을 준다.', '    신청대상은 도내에 사무소나 제조시설을 둔 창업 2년 이상의 기업이며 오는 28일까지 접수한다.', '    chan@yna.co.kr', ' ', '\\n\\n\\t', '\\n\\t']"

### 저장/로드

In [ ]:
# import pickle

# yonhap_file = data_dir + 'dataframes/yonhap_df.pkl'

# with open(yonhap_file, 'wb') as f:
#     pickle.dump(yonhap_df, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

yonhap_file = data_dir + 'dataframes/yonhap_df.pkl'

with open(yonhap_file, 'rb') as f:
    yonhap_df = pickle.load(f)

yonhap_df

      media       time                                               body
0      연합뉴스 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t작년동기.전...
1      연합뉴스 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', "\n\t\n\t(서울=연합...
2      연합뉴스 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t거래량 4개...
3      연합뉴스 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t(서울=연합...
4      연합뉴스 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t(서울=연합...
...     ...        ...                                                ...
73770  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t"미·일 잠...
73771  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '1월...
73772  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t(서울=연합...
73773  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '  ...
73774  연합뉴스 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\tGDP 성장...

[73775 rows x 3 columns]

In [ ]:
yonhap_df.dtypes

media            object
time     datetime64[ns]
body             object
dtype: object

## 연합인포맥스

In [ ]:
yonhapinfo_df = pd.read_csv(data_dir + 'naver(연합인포맥스).csv의 사본')

yonhapinfo_df

        media           time                                               body
0      연합인포맥스   2013.03.04.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 오진우 ...
1      연합인포맥스   2013.01.09.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t※다음은\xa0연합인포맥스가\...
2      연합인포맥스   2013.01.09.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 9일 서...
3      연합인포맥스   2013.02.04.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 권용욱 ...
4      연합인포맥스   2013.01.09.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 정선영 ...
...       ...            ...                                                ...
64673  연합인포맥스   2017.03.02.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 김성진 ...
64674  연합인포맥스   2017.03.02.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 이윤구 ...
64675  연합인포맥스   2017.03.02.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t연준 3월 기준금리 인상 가능...
64676  연합인포맥스   2017.03.01.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t차익매물 나오며 상승폭 둔화했...
64677  연합인포맥스   2017.03.02.   ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 이종혁 ...

[64678 rows x 3 columns]

In [ ]:
# 날짜에 들어간 불필요한 공백 제거
yonhapinfo_df['time'] = yonhapinfo_df['time'].str.strip()

# 날짜 datetime으로 변경
yonhapinfo_df['time'] = pd.to_datetime(yonhapinfo_df['time'])

# 날짜순 정렬
yonhapinfo_df.sort_values(by='time', inplace=True, ignore_index=True)

yonhapinfo_df

        media       time                                               body
0      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 이재헌 ...
1      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 권용욱 ...
2      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 권용욱 ...
3      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 이재헌 ...
4      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t', ' ', '<사진설명 :...
...       ...        ...                                                ...
64673  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합뉴스) 신은실 연합...
64674  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 이종혁 ...
64675  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 이종혁 ...
64676  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 신은실 ...
64677  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 이종혁 ...

[64678 rows x 3 columns]

In [ ]:
yonhapinfo_df.dtypes

media            object
time     datetime64[ns]
body             object
dtype: object

### 저장/로드

In [ ]:
# import pickle

# yonhapinfo_file = data_dir + 'dataframes/yonhapinfo_df.pkl'

# with open(yonhapinfo_file, 'wb') as f:
#     pickle.dump(yonhapinfo_df, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

yonhapinfo_file = data_dir + 'dataframes/yonhapinfo_df.pkl'

with open(yonhapinfo_file, 'rb') as f:
    yonhapinfo_df = pickle.load(f)

yonhapinfo_df

        media       time                                               body
0      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 이재헌 ...
1      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 권용욱 ...
2      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 권용욱 ...
3      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(서울=연합인포맥스) 이재헌 ...
4      연합인포맥스 2013-01-02  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t', ' ', '<사진설명 :...
...       ...        ...                                                ...
64673  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합뉴스) 신은실 연합...
64674  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 이종혁 ...
64675  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 이종혁 ...
64676  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 신은실 ...
64677  연합인포맥스 2017-12-30  ['\r\n\t\r\n\t\t\r\n\t\t\r\n\t(뉴욕=연합인포맥스) 이종혁 ...

[64678 rows x 3 columns]

## 이데일리

In [ ]:
edaily_df = pd.read_csv(data_dir + 'naver(이데일리).csv의 사본')

# 날짜에 들어간 불필요한 공백 제거
edaily_df['time'] = edaily_df['time'].str.strip()

# 날짜 datetime으로 변경
edaily_df['time'] = pd.to_datetime(edaily_df['time'])

# 날짜순 정렬
edaily_df.sort_values(by='time', inplace=True, ignore_index=True)

edaily_df

       media       time                                               body
0       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
1       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[뉴욕=ed...
2       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
3       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
4       이데일리 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
...      ...        ...                                                ...
102000  이데일리        NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102001  이데일리        NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102002  이데일리        NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102003  이데일리        NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102004  이데일리        NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[이 기사는...

[102005 rows x 3 columns]

### datetime이 NaT로 처리된 row들 확인 후 제거

In [ ]:
edaily_df.iloc[102004, 1]

NaT

In [ ]:
# pd.isnull 써야 값이 NaT인 것 선택 가능
edaily_df[pd.isnull(edaily_df['time'])]

       media time                                               body
100401  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100402  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100403  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100404  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100405  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
...      ...  ...                                                ...
102000  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102001  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102002  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102003  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
102004  이데일리  NaT  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[이 기사는...

[1604 rows x 3 columns]

In [ ]:
# 값이 NaT인 것 제외하고 선택
edaily_df = edaily_df[~(pd.isnull(edaily_df['time']))]

edaily_df

       media       time                                               body
0       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
1       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[뉴욕=ed...
2       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
3       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
4       이데일리 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
...      ...        ...                                                ...
100396  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100397  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[뉴스속보팀...
100398  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100399  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100400  이데일리 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...

[100401 rows x 3 columns]

### 저장/로드

In [ ]:
# import pickle

# edaily_file = data_dir + 'dataframes/edaily_df.pkl'

# with open(edaily_file, 'wb') as f:
#     pickle.dump(edaily_df, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

edaily_file = data_dir + 'dataframes/edaily_df.pkl'

with open(edaily_file, 'rb') as f:
    edaily_df = pickle.load(f)

edaily_df

       media       time                                               body
0       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
1       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[뉴욕=ed...
2       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
3       이데일리 2005-05-01  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
4       이데일리 2005-05-02  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[edail...
...      ...        ...                                                ...
100396  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100397  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t[뉴스속보팀...
100398  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100399  이데일리 2017-12-30  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...
100400  이데일리 2017-12-31  ['\n\t', '\n\t', '\n\n', '\n', '\n\t\n\t', '[이...

[100401 rows x 3 columns]

In [ ]:
edaily_df.dtypes

media            object
time     datetime64[ns]
body             object
dtype: object

# 금리

## 기준금리

In [ ]:
baserate_file = data_dir + '4_BASE_RATE.txt'
baserate_df = pd.read_csv(baserate_file, sep='\t', header=None)
baserate_df

       0        1     2
0   2020  05월 28일  0.50
1   2020  03월 17일  0.75
2   2019  10월 16일  1.25
3   2019  07월 18일  1.50
4   2018  11월 30일  1.75
5   2017  11월 30일  1.50
6   2016  06월 09일  1.25
7   2015  06월 11일  1.50
8   2015  03월 12일  1.75
9   2014  10월 15일  2.00
10  2014  08월 14일  2.25
11  2013  05월 09일  2.50
12  2012  10월 11일  2.75
13  2012  07월 12일  3.00
14  2011  06월 10일  3.25
15  2011  03월 10일  3.00
16  2011  01월 13일  2.75
17  2010  11월 16일  2.50
18  2010  07월 09일  2.25
19  2009  02월 12일  2.00
20  2009  01월 09일  2.50
21  2008  12월 11일  3.00
22  2008  11월 07일  4.00
23  2008  10월 27일  4.25
24  2008  10월 09일  5.00
25  2008  08월 07일  5.25
26  2007  08월 09일  5.00
27  2007  07월 12일  4.75
28  2006  08월 10일  4.50
29  2006  06월 08일  4.25
30  2006  02월 09일  4.00
31  2005  12월 08일  3.75
32  2005  10월 11일  3.50
33  2004  11월 11일  3.25
34  2004  08월 12일  3.50
35  2003  07월 10일  3.75
36  2003  05월 13일  4.00
37  2002  05월 07일  4.25
38  2001  09월 19일  4.00
39  2001  08월 09일  4.50
40  2001  07월 05일  4.75
41  2001  02월 08일  5.00
42  2000  10월 05일  5.25
43  2000  02월 10일  5.00
44  1999  05월 06일  4.75

In [ ]:
# column 이름 변경
baserate_df.columns = ['year', 'month_date', 'base_rate']

baserate_df

    year month_date  base_rate
0   2020    05월 28일       0.50
1   2020    03월 17일       0.75
2   2019    10월 16일       1.25
3   2019    07월 18일       1.50
4   2018    11월 30일       1.75
5   2017    11월 30일       1.50
6   2016    06월 09일       1.25
7   2015    06월 11일       1.50
8   2015    03월 12일       1.75
9   2014    10월 15일       2.00
10  2014    08월 14일       2.25
11  2013    05월 09일       2.50
12  2012    10월 11일       2.75
13  2012    07월 12일       3.00
14  2011    06월 10일       3.25
15  2011    03월 10일       3.00
16  2011    01월 13일       2.75
17  2010    11월 16일       2.50
18  2010    07월 09일       2.25
19  2009    02월 12일       2.00
20  2009    01월 09일       2.50
21  2008    12월 11일       3.00
22  2008    11월 07일       4.00
23  2008    10월 27일       4.25
24  2008    10월 09일       5.00
25  2008    08월 07일       5.25
26  2007    08월 09일       5.00
27  2007    07월 12일       4.75
28  2006    08월 10일       4.50
29  2006    06월 08일       4.25
30  2006    02월 09일       4.00
31  2005    12월 08일       3.75
32  2005    10월 11일       3.50
33  2004    11월 11일       3.25
34  2004    08월 12일       3.50
35  2003    07월 10일       3.75
36  2003    05월 13일       4.00
37  2002    05월 07일       4.25
38  2001    09월 19일       4.00
39  2001    08월 09일       4.50
40  2001    07월 05일       4.75
41  2001    02월 08일       5.00
42  2000    10월 05일       5.25
43  2000    02월 10일       5.00
44  1999    05월 06일       4.75

In [ ]:
import re
p = re.compile('\d+')   # 숫자 묶음 추출하는 정규표현식

def get_baserate_time(row):
    # 연: 그대로 사용
    year = row.year
    # 월, 일: 예) '02월 08일' -> ['02', '08'] 각각 month, date에 저장
    month, date = p.findall(row.month_date) 

    # 연월일 이어붙이고 datetime으로 변경
    time = pd.to_datetime('{}-{}-{}'.format(year, month, date))

    return time

In [ ]:
# get_baserate_time() 적용, axis=1 꼭 써야 row 단위로 잘 적용됨
baserate_df['time'] = baserate_df.apply(lambda x: get_baserate_time(x), axis=1)

# 날짜순 정렬
baserate_df.sort_values(by='time', inplace=True, ignore_index=True)

# 날짜, 금리 column만 선택
baserate_df = baserate_df[['time', 'base_rate']]

baserate_df

         time  base_rate
0  1999-05-06       4.75
1  2000-02-10       5.00
2  2000-10-05       5.25
3  2001-02-08       5.00
4  2001-07-05       4.75
5  2001-08-09       4.50
6  2001-09-19       4.00
7  2002-05-07       4.25
8  2003-05-13       4.00
9  2003-07-10       3.75
10 2004-08-12       3.50
11 2004-11-11       3.25
12 2005-10-11       3.50
13 2005-12-08       3.75
14 2006-02-09       4.00
15 2006-06-08       4.25
16 2006-08-10       4.50
17 2007-07-12       4.75
18 2007-08-09       5.00
19 2008-08-07       5.25
20 2008-10-09       5.00
21 2008-10-27       4.25
22 2008-11-07       4.00
23 2008-12-11       3.00
24 2009-01-09       2.50
25 2009-02-12       2.00
26 2010-07-09       2.25
27 2010-11-16       2.50
28 2011-01-13       2.75
29 2011-03-10       3.00
30 2011-06-10       3.25
31 2012-07-12       3.00
32 2012-10-11       2.75
33 2013-05-09       2.50
34 2014-08-14       2.25
35 2014-10-15       2.00
36 2015-03-12       1.75
37 2015-06-11       1.50
38 2016-06-09       1.25
39 2017-11-30       1.50
40 2018-11-30       1.75
41 2019-07-18       1.50
42 2019-10-16       1.25
43 2020-03-17       0.75
44 2020-05-28       0.50

### 빈 날짜에 해당하는 금리 값 채우기

In [ ]:
# 날짜를 index로 설정
baserate_df = baserate_df.set_index('time')

# 범위 내의 모든 날짜를 생성
idx = pd.date_range('2005-05-01', '2020-05-28')

# ffill: 새로운 유효값이 나올 때까지 이전 유효값으로 이후의 비유효값을 채움
baserate_df = baserate_df.reindex(idx, method='ffill')

# index 숫자로 재설정
baserate_df.reset_index(inplace=True)

# 날짜 column 'time'으로 재명명
baserate_df.rename(columns={'index': 'time'}, inplace=True)

baserate_df

           time  base_rate
0    2005-05-01       3.25
1    2005-05-02       3.25
2    2005-05-03       3.25
3    2005-05-04       3.25
4    2005-05-05       3.25
...         ...        ...
5502 2020-05-24       0.75
5503 2020-05-25       0.75
5504 2020-05-26       0.75
5505 2020-05-27       0.75
5506 2020-05-28       0.50

[5507 rows x 2 columns]

### 저장/로드

In [ ]:
# import pickle

# baserate_file = data_dir + 'dataframes/baserate_df.pkl'

# with open(baserate_file, 'wb') as f:
#     pickle.dump(baserate_df, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

baserate_file = data_dir + 'dataframes/baserate_df.pkl'

with open(baserate_file, 'rb') as f:
    baserate_df = pickle.load(f)

baserate_df

           time  base_rate
0    2005-05-01       3.25
1    2005-05-02       3.25
2    2005-05-03       3.25
3    2005-05-04       3.25
4    2005-05-05       3.25
...         ...        ...
5502 2020-05-24       0.75
5503 2020-05-25       0.75
5504 2020-05-26       0.75
5505 2020-05-27       0.75
5506 2020-05-28       0.50

[5507 rows x 2 columns]

In [ ]:
baserate_df.dtypes

time         datetime64[ns]
base_rate           float64
dtype: object

## 콜금리

In [ ]:
callrate_file = data_dir + '5_CALL_RATE.csv'
callrate_df = pd.read_csv(callrate_file, header=None)
callrate_df

               0     1         2
0     2020.08.31  0.55  + 12.24%
1     2020.08.28  0.49    -2.00%
2     2020.08.27  0.50    -5.66%
3     2020.08.26  0.53   + 1.92%
4     2020.08.25  0.52    -1.89%
...          ...   ...       ...
4867  2001.01.12  5.33   + 0.19%
4868  2001.01.11  5.32     0.00%
4869  2001.01.10  5.32   + 0.38%
4870  2001.01.09  5.30    -0.38%
4871  2001.01.08  5.32    -0.37%

[4872 rows x 3 columns]

In [ ]:
# column 이름 변경
callrate_df.columns = ['time', 'call_rate', 'change']

# 날짜 datetime으로 변경
callrate_df['time'] = pd.to_datetime(callrate_df['time'])

# 날짜순 정렬
callrate_df.sort_values(by='time', inplace=True, ignore_index=True)

callrate_df

           time  call_rate    change
0    2001-01-08       5.32    -0.37%
1    2001-01-09       5.30    -0.38%
2    2001-01-10       5.32   + 0.38%
3    2001-01-11       5.32     0.00%
4    2001-01-12       5.33   + 0.19%
...         ...        ...       ...
4867 2020-08-25       0.52    -1.89%
4868 2020-08-26       0.53   + 1.92%
4869 2020-08-27       0.50    -5.66%
4870 2020-08-28       0.49    -2.00%
4871 2020-08-31       0.55  + 12.24%

[4872 rows x 3 columns]

### 빈 날짜에 해당하는 금리 값 채우기

In [ ]:
# 날짜를 index로 설정
callrate_df.set_index('time', inplace=True)

# 범위 내의 모든 날짜를 생성, 2005년 5월 이전 데이터도 포함
idx = pd.date_range('2005-01-01', '2020-08-31')

# 디폴트인 NaN으로 값을 일단 채움
callrate_df = callrate_df.reindex(idx)

callrate_df

            call_rate    change
2005-01-01        NaN       NaN
2005-01-02        NaN       NaN
2005-01-03       3.27    -0.61%
2005-01-04       3.27     0.00%
2005-01-05       3.28   + 0.31%
...               ...       ...
2020-08-27       0.50    -5.66%
2020-08-28       0.49    -2.00%
2020-08-29        NaN       NaN
2020-08-30        NaN       NaN
2020-08-31       0.55  + 12.24%

[5722 rows x 2 columns]

In [ ]:
# 콜금리는 ffill로 채움
callrate_df['call_rate'].ffill(inplace=True)

callrate_df

            call_rate    change
2005-01-01        NaN       NaN
2005-01-02        NaN       NaN
2005-01-03       3.27    -0.61%
2005-01-04       3.27     0.00%
2005-01-05       3.28   + 0.31%
...               ...       ...
2020-08-27       0.50    -5.66%
2020-08-28       0.49    -2.00%
2020-08-29       0.49       NaN
2020-08-30       0.49       NaN
2020-08-31       0.55  + 12.24%

[5722 rows x 2 columns]

In [ ]:
# 변화는 '0.00%'로 채움
callrate_df['change'].fillna(value='0.00%', inplace=True)

callrate_df

            call_rate    change
2005-01-01        NaN     0.00%
2005-01-02        NaN     0.00%
2005-01-03       3.27    -0.61%
2005-01-04       3.27     0.00%
2005-01-05       3.28   + 0.31%
...               ...       ...
2020-08-27       0.50    -5.66%
2020-08-28       0.49    -2.00%
2020-08-29       0.49     0.00%
2020-08-30       0.49     0.00%
2020-08-31       0.55  + 12.24%

[5722 rows x 2 columns]

In [ ]:
# index 숫자로 재설정
callrate_df.reset_index(inplace=True)

# 날짜 column 'time'으로 재명명
callrate_df.rename(columns={'index': 'time'}, inplace=True)

# 2005-05-01 이후 데이터만 남기고 인덱스 재설정
callrate_df = callrate_df[callrate_df['time'] >= pd.to_datetime('2005-05-01')].reset_index(drop=True)

callrate_df

           time  call_rate    change
0    2005-05-01       3.29     0.00%
1    2005-05-02       3.29     0.00%
2    2005-05-03       3.30   + 0.30%
3    2005-05-04       3.21    -2.73%
4    2005-05-05       3.21     0.00%
...         ...        ...       ...
5597 2020-08-27       0.50    -5.66%
5598 2020-08-28       0.49    -2.00%
5599 2020-08-29       0.49     0.00%
5600 2020-08-30       0.49     0.00%
5601 2020-08-31       0.55  + 12.24%

[5602 rows x 3 columns]

### 저장/로드

In [ ]:
# import pickle

# callrate_file = data_dir + 'dataframes/callrate_df.pkl'

# with open(callrate_file, 'wb') as f:
#     pickle.dump(callrate_df, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

callrate_file = data_dir + 'dataframes/callrate_df.pkl'

with open(callrate_file, 'rb') as f:
    callrate_df = pickle.load(f)

callrate_df

           time  call_rate    change
0    2005-05-01       3.29     0.00%
1    2005-05-02       3.29     0.00%
2    2005-05-03       3.30   + 0.30%
3    2005-05-04       3.21    -2.73%
4    2005-05-05       3.21     0.00%
...         ...        ...       ...
5597 2020-08-27       0.50    -5.66%
5598 2020-08-28       0.49    -2.00%
5599 2020-08-29       0.49     0.00%
5600 2020-08-30       0.49     0.00%
5601 2020-08-31       0.55  + 12.24%

[5602 rows x 3 columns]

In [ ]:
callrate_df.dtypes

time         datetime64[ns]
call_rate           float64
change               object
dtype: object

# 채권분석 보고서

In [ ]:
bond_file = data_dir + 'bond_report.xlsx'

bond_df = pd.read_excel(bond_file)

bond_df

            date                                           contents
0     2020.09.02  2013년 0월 0일          천 리 길도 한 걸음부터 Issue Comme...
1     2020.09.02              2020. 9. 1 정부가 내년도 예산을 555.8조원으로 발...
2     2020.09.01  Microsoft Word - 2020083117554824.docx  8  글로벌...
3     2020.09.01       2020년 8월 31일 국고채 시장 약세, 한국은행 매입으로 해결하기 어렵...
4     2020.08.31       Compliance Notice   당사는 동 자료를 기관투자자 또는 제...
...          ...                                                ...
3782  2008.04.21  Microsoft Word - 920_0421_Fixed Income Weekly....
3783  2008.04.14  Microsoft Word - Fixedincome0414.doc    4월 금통위...
3784  2008.04.07  Microsoft Word - 0407.docFixed Income Weekly 2...
3785  2008.04.07  Microsoft Word - 0407.docFixed Income Weekly 2...
3786  2008.04.01  ㅎㅎㅎ2008_04  월간채권투자채 권 시 장 전 망금 융 시 장 차 트 북對應과 ...

[3787 rows x 2 columns]

In [ ]:
# column 이름 변경: 'date'을 다른 데이터들에 맞게 'time'으로 변경
bond_df.columns = ['time', 'contents']

# 날짜를 datetime으로 변경
bond_df['time'] = pd.to_datetime(bond_df['time'])

# 날짜순 정렬
bond_df.sort_values(by='time', inplace=True, ignore_index=True)

bond_df

           time                                           contents
0    2008-04-01  ㅎㅎㅎ2008_04  월간채권투자채 권 시 장 전 망금 융 시 장 차 트 북對應과 ...
1    2008-04-07  Microsoft Word - 0407.docFixed Income Weekly 2...
2    2008-04-07  Microsoft Word - 0407.docFixed Income Weekly 2...
3    2008-04-14  Microsoft Word - Fixedincome0414.doc    4월 금통위...
4    2008-04-21  Microsoft Word - 920_0421_Fixed Income Weekly....
...         ...                                                ...
3782 2020-08-31       Compliance Notice   당사는 동 자료를 기관투자자 또는 제...
3783 2020-09-01       2020년 8월 31일 국고채 시장 약세, 한국은행 매입으로 해결하기 어렵...
3784 2020-09-01  Microsoft Word - 2020083117554824.docx  8  글로벌...
3785 2020-09-02              2020. 9. 1 정부가 내년도 예산을 555.8조원으로 발...
3786 2020-09-02  2013년 0월 0일          천 리 길도 한 걸음부터 Issue Comme...

[3787 rows x 2 columns]

## 저장/로드

In [ ]:
# import pickle

# bond_file = data_dir + 'dataframes/bond_df.pkl'

# with open(bond_file, 'wb') as f:
#     pickle.dump(bond_df, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

bond_file = data_dir + 'dataframes/bond_df.pkl'

with open(bond_file, 'rb') as f:
    bond_df = pickle.load(f)

In [ ]:
bond_df

           time                                           contents
0    2008-04-01  ㅎㅎㅎ2008_04  월간채권투자채 권 시 장 전 망금 융 시 장 차 트 북對應과 ...
1    2008-04-07  Microsoft Word - 0407.docFixed Income Weekly 2...
2    2008-04-07  Microsoft Word - 0407.docFixed Income Weekly 2...
3    2008-04-14  Microsoft Word - Fixedincome0414.doc    4월 금통위...
4    2008-04-21  Microsoft Word - 920_0421_Fixed Income Weekly....
...         ...                                                ...
3782 2020-08-31       Compliance Notice   당사는 동 자료를 기관투자자 또는 제...
3783 2020-09-01       2020년 8월 31일 국고채 시장 약세, 한국은행 매입으로 해결하기 어렵...
3784 2020-09-01  Microsoft Word - 2020083117554824.docx  8  글로벌...
3785 2020-09-02              2020. 9. 1 정부가 내년도 예산을 555.8조원으로 발...
3786 2020-09-02  2013년 0월 0일          천 리 길도 한 걸음부터 Issue Comme...

[3787 rows x 2 columns]

In [ ]:
bond_df.dtypes

time        datetime64[ns]
contents            object
dtype: object

# 금융통화위원회 의사록

In [ ]:
mpd_file = '/content/drive/My Drive/2020NLP_Crawl/' + 'bok_mpd/bok_minute_data.csv'

mpd_df = pd.read_csv(mpd_file, header=None)
mpd_df.head()

                                       0                                                  1
0   금융통화위원회 의사록(2017년도 제23차)(2017.12.7.)     2017년도 제23차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
1  금융통화위원회 의사록(2017년도 제22차)(2017.11.30.)     2017년도 제22차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
2   금융통화위원회 의사록(2017년도 제21차)(2017.11.9.)     2017년도 제21차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
3  금융통화위원회 의사록(2017년도 제19차)(2017.10.19.)     2017년도 제19차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
4   금융통화위원회 의사록(2017년도 제18차)(2017.9.21.)     2017년도 제18차\n금융통화위원회(정기) 의사록\n   한 국    은 행...

In [ ]:
mpd_df.columns

Int64Index([0, 1], dtype='int64')

In [ ]:
# column 이름 변경
mpd_df.columns = ['title', 'content']

mpd_df.head()

                                   title                                            content
0   금융통화위원회 의사록(2017년도 제23차)(2017.12.7.)     2017년도 제23차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
1  금융통화위원회 의사록(2017년도 제22차)(2017.11.30.)     2017년도 제22차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
2   금융통화위원회 의사록(2017년도 제21차)(2017.11.9.)     2017년도 제21차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
3  금융통화위원회 의사록(2017년도 제19차)(2017.10.19.)     2017년도 제19차\n금융통화위원회(정기) 의사록\n   한 국    은 행...
4   금융통화위원회 의사록(2017년도 제18차)(2017.9.21.)     2017년도 제18차\n금융통화위원회(정기) 의사록\n   한 국    은 행...

## 날짜 column 생성

In [ ]:
import re
# 괄호 안 텍스트만 추출하는 정규표현식
p = re.compile(r'\((.*?)\)')

def get_mpd_date(title):
    # 의사록 제목에서 괄호 안 텍스트를 추출하고 그 중 마지막에 해당하는 날짜 추출
    date = p.findall(title)[-1]
    
    # 날짜 값이 존재하면 datetime으로 변경
    if date:
        return pd.to_datetime(date)

    # 예외
    else:
        print('No date exists for {}!'.format(title))

In [ ]:
# 의사록 제목에 get_mpd_date()를 적용해 날짜 추출하고 새 column에 저장
mpd_df['time'] = mpd_df['title'].apply(lambda x: get_mpd_date(x))
mpd_df.sort_values(by='time', inplace=True, ignore_index=True)

mpd_df

                                                 title  ...       time
0    금융통화위원회 의사록(2005년도 제10차)(2...  ... 2005-05-12
1                   금융통화위원회 의사록(2005년도 제12차)(2005.6.9)  ... 2005-06-09
2                  금융통화위원회 의사록(2005년도 제13차)(2005.6.23)  ... 2005-06-23
3                   금융통화위원회 의사록(2005년도 제14차)(2005.7.7)  ... 2005-07-07
4                  금융통화위원회 의사록(2005년도 제17차)(2005.8.11)  ... 2005-08-11
..                                                 ...  ...        ...
258               금융통화위원회 의사록(2017년도 제18차)(2017.9.21.)  ... 2017-09-21
259              금융통화위원회 의사록(2017년도 제19차)(2017.10.19.)  ... 2017-10-19
260               금융통화위원회 의사록(2017년도 제21차)(2017.11.9.)  ... 2017-11-09
261              금융통화위원회 의사록(2017년도 제22차)(2017.11.30.)  ... 2017-11-30
262               금융통화위원회 의사록(2017년도 제23차)(2017.12.7.)  ... 2017-12-07

[263 rows x 3 columns]

## 강사님이 주신 섹션 분리 코드 적용

In [ ]:
def tidy_sentences(section):
    sentence_enders = re.compile(r'((?<=[함음됨임봄짐움])(\s*\n|\.|;)|(?<=다)\.)\s*')
    splits = list((m.start(), m.end()) for m in re.finditer(sentence_enders, section))
    starts = [0] + [i[1] for i in splits]
    ends = [i[0] for i in splits]
    sentences = [section[start:end] for start, end in zip(starts[:-1], ends)]
    for i, s in enumerate(sentences):
        sentences[i] = (s.replace('\n', ' ').replace(' ', ' ')) + '.'

    text = '\n'.join(sentences) if len(sentences) > 0 else ''
    return sentences, text

In [ ]:
import re 

def preprocess_minutes(minutes):

    pos = re.search('(.?국내외\s?경제\s?동향.?과 관련하여,?|\(가\).+경제전망.*|\(가\) 국내외 경제동향 및 평가)\n?\s*일부 위원은', minutes, re.MULTILINE)
    s1 = pos.start() if pos else -1
    pos = re.search('(.?외환.?국제금융\s?동향.?과 관련하여.*|\(나\) 외환.국제금융\s?(및 금융시장)?\s?동향)\n?\s*(일부 위원은|대부분의 위원들은)', minutes,re.MULTILINE)
    s2 = pos.start() if pos else -1
    pos = re.search('(.?금융시장\s?동향.?과 관련하여,?|\(다\) 금융시장\s?동향)\n?\s*일부 위원은', minutes, re.MULTILINE)
    s3 = pos.start() if pos else -1
    pos = re.search('((\((다|라)\) )?.?통화정책\s?방향.?에 관한 토론,?|이상과 같은 의견\s?교환을 바탕으로.*통화정책\s?방향.*에.*토론.*)\n?', minutes,re.MULTILINE)
    s4 = pos.start() if pos else -1
    pos = re.search('(\(4\) 정부측 열석자 발언.*)\n?', minutes, re.MULTILINE)
    s5 = pos.start() if pos else -1
    pos = re.search('(\(.*\) 한국은행 기준금리 결정에 관한 위원별 의견\s?개진|이상과 같은 토론에 이어 .* 관한 위원별 의견개진이 있었음.*)\n?', minutes,re.MULTILINE)
    s6 = pos.start() if pos else -1
    positer = re.finditer('(\(\s?.*\s?\) ()(심의결과|토의결론))\n?', minutes, re.MULTILINE)
    s7 = [pos.start() for pos in positer if pos.start() > s6]
    s7 = s7[0] if s7 else -1

    # 국내외 경제동향
    bos = s1
    eos = s2
    section = minutes[bos:eos] if bos >= 0 or eos >= 0 else ''
    pos = re.search('(일부|대부분의) 위원들?은', section, re.MULTILINE)
    bos = pos.start() if pos else -1
    section = section[bos:] if bos >= 0 else section
    section1, section1_txt = tidy_sentences(section)

    # 외환․국제금융 동향
    bos = s2
    eos = s3 if s3 >= 0 else s4
    section = minutes[bos:eos] if bos >= 0 or eos >= 0 else ''
    pos = re.search('(일부|대부분의) 위원들?은', section, re.MULTILINE)
    bos = pos.start() if pos else -1
    section = section[bos:] if bos >= 0 else section
    section2, section2_txt = tidy_sentences(section)
    #print(section)

    # 금융시장 동향
    bos = s3
    eos = s4
    section = minutes[bos:eos] if bos >= 0 or eos >= 0 else ''
    pos = re.search('(일부|대부분의) 위원들?은', section, re.MULTILINE)
    bos = pos.start() if pos else -1
    section = section[bos:] if bos >= 0 else section
    section3, section3_txt = tidy_sentences(section)

    # 통화정책방향
    bos = s4
    eos = s5 if s5 >= 0 else s6 if s6 >= 0 else s7
    section = minutes[bos:eos] if bos >= 0 or eos >= 0 else ''
    pos = re.search('(일부|대부분의) 위원들?은', section, re.MULTILINE)
    bos = pos.start() if pos else -1
    section = section[bos:] if bos >= 0 else section
    section4, section4_txt = tidy_sentences(section)

    # 위원별 의견 개진
    bos = s6
    eos = s7
    section = minutes[bos:eos] if bos >= 0 or eos >= 0 else ''
    pos = re.search('(일부|대부분의) 위원들?은', section, re.MULTILINE)
    bos = pos.start() if pos else -1
    section = section[bos:] if bos >= 0 else section
    section5, section5_txt = tidy_sentences(section)

    # 정부측 열석자 발언
    bos = s5
    eos = s6
    section = minutes[bos:eos] if bos >= 0 or eos >= 0 else ''
    pos = re.search('정부측 열석자 발언', section, re.MULTILINE)
    bos = pos.end() + 1 if pos else -1
    section = section[bos:] if bos >= 0 else section
    section6, section6_txt = tidy_sentences(section)

    sections = ['Economic Situation', 'Foreign Currency', 'Financial Markets',
                'Monetary Policy', 'Participants’ Views', 'Government’s View']
    section_texts = (section1, section2, section3, section4, section5, section6)


    return sections, section_texts

In [ ]:
content_test = mpd_df.iloc[0,1]
content_test

'                     金融通貨委員會 議事錄\n2005년도 제10차 회의\n1. 일  시   2005년 5월 12일 (목)\n2. 장  소   금융통화위원회 회의실\n3. 출석위원     박  승 의 장 (총 재)\n              김태동 위원\n              이 성 태 위 원 (부총재)\n              김종창 위원\n              강문수 위원\n              이덕훈 위원\n              이성남 위원\n4. 결석위원     없   음\n5. 참 여 자   이 상 용 감사         정 규 영 부총재보\n        정 방 우 부총재보         박 재 환 부총재보\n        김 수 명 부총재보         이 영 균 부총재보\n\n\n         정 해 왕 금융경제연구원장   김 재 천 조사국장\n         이 주 열 정책기획국장   김 수 호 금융시장국장\n         이 광 주 국제국장    정 이 모 금융통화위원회실장\n         이 광 준 공보실장\n6. 회의경과\n   〈의안 제17호 ― 통화정책방향〉\n    (１) 전일 개최된 동향보고회의에서 조사국장이 보고 제54호 - ｢국내외 경제동향｣,\n국제국장이 보고 제55호 - ｢외환․국제금융 동향｣, 그리고 금융시장국장이 보고 제56호\n-｢금융시장 동향｣에 대하여 보고하였음(보고내용: 별첨)\n    (２) 본회의에서는 의장이 ｢한국은행법｣ 제28조에 의거하여 의안 제17호 - ｢통화정\n책방향｣을 상정하였음\n    (３) 위원 토의내용\n      ｢국내외 경제동향｣과 관련하여, 일부 위원은 지난해 풍작에 따른 효과와 금년초\n담배가격 인상에 따른 생산 감소 등 특수요인을 제외하면 금년 1/4분기에도 작년 4/4분\n기와 비슷한 경제성장세가 유지되고 있는 것으로 보인다는 견해를 밝혔음\n\n\n   동 위원은 건설투자의 선행지표인 건축허가면적과 국내 건설수주액이 기성이나\n실제 건설투자로 나타나는 데 걸리는 시간을 감안할 때 2003년 3/4분기부터 2004년 3/\n4분기까지 이어진 건축허가면적과 국내 건설수주실적의 마이너스 성장세가 금년 하반\n기 건설투자의 부진으로 나타나지는 않을지 물었음\n   이에 대해 관련부서에서는 지난해 3/4분기까지 건설수주실적이 저조했던 데 따\n른 영향이 금년 하반기까지 계속되기는 하겠으나 새로운 요인으로서 작년 4/4분기 이\n후 건설수주실적이 호전되어 실제 착공으로 이어지고 있는 물량과 정부 종합투자계획\n이 플러스 요인으로 작용할 것임을 감안하면 하반기경에는 건설투자가 부진에서 벗어\n나 점차 개선될 것으로 보인다고 답변하였음\n   또한 동 위원은 수출물량이 가격요인보다는 해외 수요요인에 의해 주로 결정된\n다는 분석결과와 관련하여 동 분석에서 대상으로 한 기간이 환율 변동이 심했던 외환\n위기 전후를 포함하고 있는 데다 국제시장에서 동질의 제품끼리 벌이는 치열한 경쟁에\n있어서는 가격이 물량에 미치는 영향력이 상당할 것임을 감안할 때 환율 하락이 수출\n에 미치는 영향이 과소평가된 것은 아닌지 물었음\n   이에 대해 관련부서에서는 외환위기 직후 수출물량이 크게 늘어나지는 않았다는\n점에서 외환위기 전후를 분석기간에 포함한 데 따른 왜곡요인은 크지 않은 것으로 판\n단되며 우리나라의 주요 수출품목인 반도체, 자동차, 선박 등이 국제적으로 경쟁력을\n\n\n지니고 있는 데다 시장점유율도 높기 때문에 수출물량의 가격탄력성이 과거에 비해 현\n저히 낮아진 상황이라고 설명하였음\n    다른 일부 위원은 동향보고자료 상의 소비관련지표나 통계청 소비자전망조사결\n과 중 내구소비재구매지수 등을 볼 때 경제주체들의 소비회복에 대한 기대가 다소 하\n락하면서 민간소비 회복에 악영향을 미치는 것은 아닌지 물었으며, 이에 대해 관련부\n서에서는 현재까지 나온 지표와 기대심리 등을 고려할 때 내구재 측면에서는 소비가\n회복되는 조짐이 뚜렷하지 않으나 비내구재를 중심으로 조금씩 나아지고 있어 완만한\n회복세를 보일 것으로 본다고 답변하였음\n    동 위원은 근원인플레이션, 소비자물가, 생산자물가 등의 지수물가는 안정세를\n보이고 있으나 생활물가의 큰 폭 상승으로 민간의 실질구매력이 크게 하락하여 소비\n회복에 부정적인 영향을 미칠 가능성은 없는지 검토해 볼 필요가 있다는 견해를 제시\n하였음\n    또한 동 위원은 경기순환 상 또는 과거의 경험에 기초한 경기국면 판단은 다소 현\n실성이 부족한 측면이 있는 것으로 생각된다면서 현재와 같이 불확실성이 높은 상황에\n서 환율, 북핵, 금리역전 등의 주요 위험요인이 복합적으로 일어날 경우 우리 경제에 미\n치는 영향을 분석해 볼 필요가 있다는 견해를 나타내었음\n    또 다른 일부 위원은 우리의 주요 수출대상국인 미국, 일본, EU 의 경제성장세가\n\n\n최근 들어 둔화될 조짐을 보이고 있는 데다 중국 위안화가 평가절상될 경우 우리나라\n원화도 부분적으로 평가절상 압력을 받을 것으로 보이는 등 수출에 대한 하방위험이\n증대되고 있음에도 불구하고 수출이 견조한 증가세를 유지할 것으로 본 것은 다소 낙\n관적인 전망으로 생각된다는 의견을 제기하였음\n     이에 대해 관련부서에서는 세계경제성장에 대한 하방위험이 있는 것이 사실이나\nIMF 등에서 공식적으로 발표한 전망치를 볼 때 그 가능성은 높지 않다고 보며, 위안화\n절상 문제도 이를 구체화시켜 고려해야 할 만큼 가능성이 높은 것은 아니며 설사 실현\n된다 하더라도 그 폭이 크지 않고 이미 원화가 상당폭 절상되어 있는 상황이기 때문에\n원화의 추가절상압력으로 작용할 여지는 크지 않다고 설명하였음\n     일부 위원은 정책시차를 감안하여 현재의 통화정책 결정이 내년 상반기 내지 하\n반기를 정책시계로 하여 이루어진다는 점에서 북핵, 고용불안 문제와 더불어 대선 1년\n전인 내년중 증폭될 지도 모르는 정치면에서의 불안 등에 따른 경제상황의 불확실성에\n대한 철저한 대비와 연구가 이루어질 필요가 있다는 견해를 밝혔음\n     또한 동 위원은 글로벌화된 세계경제여건 하에서 국내외 경제의 긴밀한 연관성\n을 반영할 수 있도록 세계 계량경제모형(world econometric model)의 개발을 검토해\n볼 필요가 있다는 견해를 개진하였음\n     다른 일부 위원은 금년 1/4분기 경제성장률 하락의 설명요인으로 언급된 조업일\n\n\n수 감소의 영향이 한 달의 기간에서는 유의할지 몰라도 두 달 이상의 기간에서는 가동\n률이 100%에 달하지 않는 이상 특정 기간의 조업일수 감소로 인한 생산 부족분을 이후\n잔업 등을 통해 보충할 수 있다는 점에서 성장률 하락을 설명하기에는 충분하지 못할\n수도 있다는 견해를 나타내었음\n    동 위원은 서비스업 생산을 전망함에 있어 전망모형에 설명변수로 들어간 수출\n과 민간소비의 전망치 자체가 불확실하다는 점에서 모형에 의존하는 방법 외에 세부\n업종별로 미시적으로 접근하여 전망하는 방법에 대해 검토해 볼 필요가 있다는 견해를\n밝혔음\n    또한 동 위원은 우리나라의 주요 수출대상국별 주요 수출품목에 대한 검토를 통\n해 해외수요 측면에서 수출 전망을 해 볼 필요가 있다고 언급하고, 전통적으로 IT관련\n제품의 수출비중이 높은 미국이나 유럽 지역에 대한 수출이 최근 부진한 것과 관련하\n여 세계 IT경기에 대한 해외 유관기관들의 다양한 전망과 그 근거를 살펴볼 필요가 있\n다는 견해를 나타내었음\n    한편 동 위원은 원화 절상이 수출입, 내수, 설비투자 등 각 부문별로 미치는 영향\n을 종합한 정상 시나리오와 원화 절상이 시작된 이후 현재까지 약 6개월간의 실제 경과\n상황을 비교해보고 양자간에 괴리가 있다면 그 원인이 무엇인지 분석해볼 필요가 있다\n는 견해를 피력하였음\n\n\n   ｢외환․국제금융 동향｣과 관련하여, 일부 위원은 내외금리차 역전에 따라 자금의\n해외유출이 대규모로 발생될 가능성을 상당히 경계하여야 한다고 언급하면서 금리격\n차가 어느 정도로 벌어질 경우 자금의 해외유출 현상이 유의할 정도로 심화되고 그러\n한 현상이 일어날 경우 국내 채권시장에는 어떠한 영향을 미칠 것으로 보는지 물었음\n   이에 대해 관련부서에서는 우리나라에서는 그러한 사례가 없었기 때문에 대만과\n일본의 사례를 살펴보면 내외금리차 역전이 고착된 상황인 것으로 시장이 인식하여 자\n금의 해외유출이 본격화되기 시작했을 때의 금리격차는 약 1.5%포인트 정도였으며,\n대만의 경우 유동자금이 많고 외환시장이나 GDP 규모면에서 우리나라보다 훨씬 작기\n때문에 국내 채권시장에 미친 영향은 거의 없었던 것으로 생각된다고 설명하였음\n   동 위원은 자금의 해외유출에 대한 정책적 대응을 위해 내외금리나 환율에 대해\n서도 인플레이션 팬차트와 같이 위험밴드를 설정하여 확률적으로 접근하는 방법을 고\n려해 볼 수 있는지 물었으며, 이에 대해 관련부서에서는 내외금리나 환율의 경우 해외\n요인의 영향을 크게 받기 때문에 확률적 접근방법의 활용이 매우 어려우며 모니터링을\n강화하거나 자금유출 방지를 위한 제도를 마련하는 것이 보다 현실적인 대응방안으로\n생각된다고 답변하였음\n   다른 일부 위원은 최근 금융기관의 외화대출이 늘어나고 있는 것과 관련하여 금\n융기관이 해외에서 차입을 통해 조달하는 외화자금의 통화구성 및 만기와 외화대출 등\n에의 운용상황, 통화스왑연계 외화대출 메커니즘 등에 대해 살펴볼 필요가 있다는 견\n\n\n해를 나타내었음\n     또 다른 일부 위원은 전년 동기와 비교할 때 금년 1～4월중 국내시장에 대한 외국\n인증권투자 실적이 매우 부진한 반면 해외증권투자는 늘어나는 현상을 어떻게 해석할\n수 있는지 물었으며, 이에 대해 관련부서에서는 대만이 5월부터 MSCI (Morgan Stanley\nCapital International)지수에 편입됨에 따라 3～4월중 외국인 자금의 상당부분이 대만\n으로 이동하였으며 내외금리차 축소로 해외증권투자에 대한 기회비용이 줄어든 데다\n기관투자자들의 포트폴리오 관리 측면에서도 바람직한 유인이 있어 국내 거주자의 해\n외증권투자 여건은 상당히 성숙되어 있는 상황이라고 설명하였음\n      동 위원은 경상거래와 자본거래에서 모두 흑자가 발생했던 작년과 비교하여 금\n년에는 경상거래에서 발생한 흑자를 자본거래에서의 적자가 어느 정도 상쇄시키고 있\n다고 언급하면서 이는 포트폴리오 투자를 위한 정상적인 스무딩(smoothing) 과정으로\n보이며 외환보유액 관리 부담을 덜 수 있는 긍정적인 측면도 있다는 점에서 일각에서\n제기하는 바와 같이 급격한 자본유출을 우려할 만한 상황은 아닌 것으로 생각된다는\n견해를 밝혔음\n     ｢금융시장 동향｣과 관련하여, 일부 위원은 4월중 연기금의 주식매매 패턴이 주식\n시장의 안정과 역행하는 방향으로 작용했는지 물었으며, 이에 대해 관련부서에서는 4\n월중 다른 기관투자가와 달리 연기금에서 순매도를 하면서 주식시장에 다소 부정적인\n영향을 미친 것이 사실이나 향후 전반적으로는 안정적인 운용패턴을 유지해 나갈 것으\n\n\n로 보인다고 답변하였음\n   동 위원은 최근 은행들이 마땅한 자금 운용대상 확보가 쉽지 않음에 따라 주택담\n보대출 금리를 경쟁적으로 인하하거나 비우량기업에 대한 대출을 늘리는 등의 행태를\n보이고 있다고 언급하면서 이러한 행태가 지속될 경우 과도한 금융완화로 인한 금융시\n장 불안요인으로 작용할 위험은 없는지 면밀히 점검해 볼 필요가 있다는 견해를 나타\n내었음\n   이에 대해 관련부서에서는 최근 은행들간의 금리인하 경쟁은 금년중 주택담보대\n출 잔액 상당부분의 만기가 집중되면서 이를 유치하려는 데 따른 일시적 현상으로 보\n이나 경쟁과열과 비우량기업에 대한 대출이 은행의 수지, 건전성 등에 미칠 수 있는 부\n정적인 영향에 대해서는 각별한 주의를 기울여야 할 것으로 생각된다고 설명하였음\n   다른 일부 위원은 최근 은행들의 주택담보대출 증대 노력은 과거와 같은 신규대\n출 확대의 형태와 아울러 만기도래에 따른 연장분을 경쟁적으로 유치하려는 형태도 나\n타나고 있다고 언급하면서, 대출시장이 수요자 우위 또는 공급자 우위인지를 판단하기\n위해 만기 연장이 동일 은행에서 낮은 금리를 적용받는 조건으로 이루어지고 있는지\n아니면 다른 은행으로의 대출처 변경에 의해 이루어지고 있는지 살펴볼 필요가 있다는\n견해를 밝혔음\n   한편 동 위원은 4월중 은행 여신과 수신이 대폭 늘어났다는 점에서 은행의 금융\n\n\n중개기능(financial intermediation)이 실질적으로 활발해진 것으로 볼 수 있는지, 5월 이\n후에도 이러한 신장세가 지속될 것인지에 대해 평가․전망해 볼 필요가 있다는 견해를\n개진하였음\n   또한 동 위원은 금융중개기능의 회복이 민간소비나 투자 등에 어떤 경로를 통해\n어느 정도의 시차를 두고 영향을 미칠 것으로 보는지 물었으며, 이에 대해 관련부서에\n서는 기업대출이나 가계대출이 늘어난다는 것은 결국 기업이나 가계에서 투자나 소비\n를 위한 자금수요가 있다는 것을 의미하기 때문에 큰 시차 없이 투자나 소비로 이어질\n것으로 보이며 경기회복에 긍정적인 신호로 해석될 수 있을 것이라고 답변하였음\n   또 다른 일부 위원은 현재 주택담보대출의 대부분이 변동금리부 조건으로 이루\n어지고 있다는 점에서 향후 금리 상승시 가계에 미치는 부담 증가와 연체율 상승이 발\n생할 위험에 대해 유의할 필요가 있다는 견해를 나타내었음\n     이상과 같은 의견교환을 바탕으로 ｢통화정책방향｣에 관해 다음과 같은 토론이\n있었음\n     일부 위원은 주택가격 급등에 대해 중앙은행이 정책금리 인상으로 대응했던\n영국과 호주의 사례를 참조하여 주택가격 상승률이 어느 정도에 이르렀을 때 정책금리\n를 인상하기 시작했으며 그 때의 주택가격 상승률이 우리나라의 경우와 비교할 때 어\n떤 수준인지에 대해 검토해 볼 필요가 있다는 견해를 밝혔음\n\n\n     또한 동 위원은 영국이나 호주의 경우와 달리 경기가 부진한 가운데 주택가격\n이 과도하게 상승할 경우 필요한 대응책과 다른 나라의 유사한 사례, 정책 실행 이전 시\n그널링(signaling)의 유효성, 토지․부동산버블 문제 등 제반 부동산관련 이슈에 대한 심\n도 있는 분석이 조속히 이루어질 필요가 있다는 견해를 피력하였음\n     한편 동 위원은 통화정책당국의 시그널링 문제를 검토할 필요가 있다는 관련\n부서의 보고가 5월초 정부가 내놓은 부동산시장 안정대책의 기대효과가 크지 않을 것\n이라는 예상에 따른 것인지 물었으며, 이에 대해 관련부서에서는 정부의 이번 대책이\n다분히 중장기적이고 이미 발표되었던 원칙적인 내용을 많이 담고 있는 데다 부동산시\n장 관계자에 대한 모니터링 결과에서도 동 대책이 근본적인 해결책이 되지는 못하며\n상황 변화에 따라 다른 조치가 잇따를 것이라는 기대가 시장에 형성되어 있는 것으로\n조사되었다고 답변하였음\n     이와 관련하여 동 위원은 경기가 부진한 가운데 부동산가격이 불안한 움직임\n을 보이는 상황에서 부동산시장 안정대책의 효과도 미흡할 경우 통화정책 기조를 변경\n하지 않더라도 시중자금이 소비나 투자가 아닌 부동산시장으로 집중되어 경기회복을\n지연시키고 물가에는 업사이드 리스크로 작용하여 통화정책 효과를 위축시키는 문제\n가 나타날 수 있다고 우려하면서, 정책의 효과를 증대시키고 보다 적절한 방향으로 유\n도할 수 있도록 하는 방안을 강구할 필요가 있다는 견해를 제시하였음\n     다른 일부 위원은 금리의 무차별적인 효과를 감안할 때 금리정책을 주택시장\n\n\n과 같은 특정 시장의 불안정을 해소시키기 위한 목적으로 쓸 때는 상당히 신중을 기해\n야 할 것이며, 정책 실행 이전에 시그널링을 하는 것도 민감하게 반응하는 시장상황에\n서 오히려 역효과를 낼 가능성이 있다는 점을 고려할 때, 정책금리 변경이 소비․투자 등\n실물경제, 물가, 부동산 등 자산가격, 환율 등에 미치는 효과에 대한 면밀한 분석이 선\n행되어야 할 것이라는 견해를 피력하였음\n     이에 대해 관련부서에서는 자산가격의 버블 여부와 정도를 파악하는 것 자체\n가 매우 어렵기 때문에 자산가격 상승에 대해 금리정책으로 대응하는 것은 물론 신중\n을 기해야 하나 중장기적으로 안정기조가 흔들릴 가능성이 있다고 판단된다면 분명한\n정책적 대응이 있어야 된다고 생각하며, 정책금리 변경의 효과는 현재 모형을 통한 추\n정에 의해 평가할 수밖에 없으나 이는 경제구조의 행태 변화를 반영하지 못하는 한계\n를 지니고 있기 때문에 보다 미시적인 접근을 통하여 정책 효과를 평가하는 방안을 검\n토하고 있다고 설명하였음\n     또 다른 일부 위원은 최근 국지적인 상승세가 전체 지가 상승을 주도하고 있는\n토지시장에 대해서도 주의를 기울일 필요가 있다고 언급하고, 부동산시장 문제를 해결\n하기 위해 금리정책을 쓸 경우 실질적인 효과를 발휘하기 위해서는 금리 조정이 상당\n폭으로 이루어져야 될 것으로 생각된다는 견해를 밝혔음\n     일부 위원은 영국이나 호주에서와 같이 주택가격 급등에 대응해 금리를 인상\n하더라도 경제회복에 지장을 초래하지 않을 것으로 생각하는지 물었으며, 이에 대해\n관련 부서에서는 지금과 같이 경기회복이 지연되는 상황에서 통화정책 대응은 경기에\n\n\n미칠 영향을 고려하여 신중히 판단할 문제이나 주택시장 불안이 계속된다면 구체적인\n행동을 취하지는 못하더라도 시그널링 정도는 필요하다고 생각하며 현재와 같은 상황\n에서는 금리를 올려도 경기에 큰 영향을 주지 않을 수 있기 때문에 금리인상이 경기에\n미치는 영향에 대해서는 좀더 검토해 볼 필요가 있다고 답변하였음\n      동 위원은 미 연준 등에서는 통화정책에 왜곡을 가져올 수 있다는 점에서 주가\n수준에 대해 언급하거나 시그널을 주는 것을 금기시하고 있다고 언급하면서 주가와 경\n제성장의 관계, 주가전망 등에 대한 보다 심도 있고 신중한 분석이 이루어질 필요가 있\n다는 견해를 밝혔음\n      한편 동 위원은 통화정책방향을 결정함에 있어 재정정책과의 정책조합(policy\nmix)을 통해 정책효과를 극대화하기 위해서는 재정부문에 대한 분석이 필수적으로 선\n행되어야 한다고 언급하면서 경기부양을 위해 재정의 조기집행이 이루어지면서 한국\n은행의 정부에 대한 대출과 통화안정증권 발행이 크게 늘어난 상반기에 비해 하반기에\n는 재정수지가 어떻게 될 것으로 전망되는지, 상반기에 비해 하반기 재정정책이 덜 확\n장적인 기조를 보일 경우 우리 경제에 미치는 영향은 어떻게 달라질 것으로 보는지에\n대해 물었음\n      이에 대해 관련부서에서는 현재까지는 연초에 정해진 재정정책 기조가 그대\n로 유지되고 있으며 재정집행상황을 볼 때 상반기에 비해 하반기에는 재정지출이 상당\n폭 줄어들고 통화안정증권 발행압력도 완화될 것으로 보인다고 답변하였음\n\n\n     동 위원은 주택시장 불안요인으로서 저금리 기조 이외에 과잉유동성 문제는\n없는지 살펴볼 필요가 있으며 이를 위해 기존의 유동성 판단지표 외에 실질국내총생산\n증가율과 실질통화증가율을 비교해보고 그 흐름에는 어떤 변화가 있었는지 점검해 볼\n필요가 있다는 견해를 나타내었음\n     이상과 같은 토론에 이어 콜금리 목표 조정여부 및 조정폭에 관한 위원별 의견\n개진이 있었음\n     일부 위원은 다음과 같은 점을 종합적으로 고려할 때 이번에는 콜금리 목표를\n현 수준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음\n     첫째, 고유가에도 불구하고 비교역재가격의 안정으로 근원인플레이션율은 목\n표범위 내에서 유지될 확률이 높으며 더 낮아질 가능성도 있음; 둘째, 1/4분기 경제성\n장률이 전분기에 비해 둔화될 것으로 보이는 가운데 향후 주요 수출대상국들의 경제성\n장 둔화에 따라 수출증가율도 낮아질 가능성이 있는 데다 건설투자, 설비투자의 불확\n실성도 상존하고 있음; 셋째, 4월중 은행을 중심으로 여․수신이 크게 늘어나는 등 금융\n중개기능이 원활하게 작동되고 주식관련 펀드로 자금 유입이 계속되었으며 금융기관\n의 대출태도지수도 계속 호조를 보이고 있음; 넷째, 정부의 부동산시장 안정대책은 특\n히 토지에 대해서는 효과를 보이지 못하고 있으며 이는 통화정책에도 부담을 가중시키\n고 있음; 다섯째, 일부 지방자치단체의 개발과 관련된 부패사건은 정부에 대한 신뢰를\n떨어뜨림은 물론 우리사회에 한탕주의를 만연시켜 국민경제의 총생산성과 장기금융\n시장의 발전을 저해하고 통화정책의 효과를 제약하는 요인으로 작용하고 있음; 여섯째\n\n\n, 중국과 인도의 저임금에 기초한 경제성장으로 세계적으로 낮은 인플레이션이 유지되\n면서 우리나라에서도 저금리 하에 인플레이션 목표가 달성되고 있으나 그 이면에는 중\n국, 기타 선진국에서 발생한 부동산 버블이 소비에 영향을 미쳐 미국의 경상수지 적자\n폭을 확대시키고 외환시장에도 영향을 주어 원화환율이 과도하게 낮아지는 원인을 제\n공하고 있음; 일곱째, 원화 절상, 재정의 조기집행, 저금리 유지가 비교적 적절한 정책\n혼합으로 판단이 되나 이는 부동산문제 해결에는 적용되기 어려운 측면이 있기 때문에\n부동산가격과 건설투자의 연착륙(soft landing) 여부가 불확실함\n     다른 일부 위원은 다음과 같은 여러 가지 점을 감안할 때 콜금리 목표를 현 수\n준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음\n     첫째, 그동안 우리 경제의 성장 원동력으로 작용하였던 수출 증가세가 세계 주\n요 경제권의 성장세 둔화와 원화 절상 등으로 둔화되는 조짐이 시차를 두고 나타나고\n있는 것으로 보임; 둘째, 민간소비는 조금씩 회복되는 조짐이 보이고 있으나 아직 미흡\n한 수준이며 설비투자는 개선의 기미가 보이지 않고 있어 경제성장의 하방위험이 다소\n확대된 것으로 생각됨; 셋째, 소비자물가와 근원인플레이션은 4월 들어 다소 안정되는\n모습을 보이고 있으나 향후 실물경제가 회복될 경우 수요측면의 상승압력으로 작용할\n수 있는 데다 고유가 등 비용측면의 상승압력이 시차를 두고 물가에 불안요인으로 작\n용할 가능성이 있음; 넷째, 통화정책은 완화기조를 유지하고 있는 것으로 보이나 미국\n이 계속 금리를 인상하고 있는 가운데 ECB 등 다른 주요 중앙은행들도 금리 인상에 동\n참하게 될 경우 금리결정을 통한 정책적 대응이 매우 어려운 환경에 직면할 수 있음; 다\n섯째, 중국 위안화 절상이 불가피하다는 것이 대세로 받아들여지고 있어 원화의 추가\n\n\n절상압력으로 작용할 위험이 상존해 있음\n     또 다른 일부 위원은 근원인플레이션율이 목표범위를 벗어날 징후가 보이지\n않는 가운데 유가 등 원자재가격도 비교적 안정적인 추세를 보일 것으로 예상되고 있\n는 반면에 소비, 설비투자 등 내수가 회복되는 기미를 보이고는 있으나 아직 본격적인\n회복세에 들어섰다고 보기에는 미흡하며 미국을 중심으로 한 긴축적 통화정책 등으로\n불리한 대외여건이 조성되면서 수출의 하방위험이 높아지고 있어 이달에 콜금리 목표\n를 현 수준에서 유지하는 것이 바람직해 보인다는 견해를 나타내었음\n     아울러 동 위원은 다음과 같은 불확실성에 대해 예의주시하면서 대응 방안을\n심각하게 고민해야 할 상황이라는 의견을 덧붙였음\n     첫째, 경기회복을 위해 완화적인 통화정책 기조를 유지하는 데 따른 부작용으\n로 부동산시장에 거품이 형성될 수 있다는 데 유의하면서 필요할 경우 단호히 대처해\n나갈 필요가 있음; 둘째, 달러화 및 위안화의 변동성이 커지면서 세계 금융시장이 불안\n해지고 미국을 중심으로 한 긴축정책으로 그동안 세계경제 호황 중에 형성된 거품이\n붕괴될 위험이 증대되고 있으며 북핵문제, 집단이기주의로 인한 정책 추진 및 대응능\n력 약화 등 대내외적으로 불확실성이 심각한 수준에 이르고 있는 것으로 생각됨\n     한편 일부 위원은 경기부양을 위해 적자재정정책이 계속되고 있고 통화정책\n도 여전히 완화기조를 유지하고 있는 반면 원화 절상은 경기에 반대 방향으로 작용하\n는 측면이 있다고 언급하면서, 다음과 같은 점을 고려할 때 현재로서는 정책금리 목표\n\n\n를 바꿀 상황은 아닌 것으로 생각되어 이번에는 콜금리 목표를 현 수준에서 유지하는\n것이 바람직해 보인다는 견해를 제시하였음\n     첫째, 소비와 투자가 조금씩 증가하고는 있으나 그 폭은 여전히 미약하고 가까\n운 장래에 크게 늘어날 가능성도 낮은 가운데 유럽, 일본 경제의 회복이 더딜 것으로 보\n여 수출에 부정적인 영향을 미칠 것으로 판단됨; 둘째, 물가는 경기부진과 환율 하락에\n기인하여 대체로 안정세를 유지하고 있으나 원유가격이 여전히 당초 전망 수준을 웃돌\n고 있어 물가상승압력으로 작용할 위험이 상존해 있음; 셋째, 4월중 금융기관 대출이\n늘어난 것은 기업대출 증가와 금융중개기능 관점에서 긍정적으로 볼 수 있겠으나, 다\n른 한편으로는 주택대출 증가가 부동산시장으로의 자금 유입으로 이어진다는 점에서\n유의할 상황인 것으로 생각되며, 부동산문제에 대응하여 시그널링을 할 경우 실제 행\n동이 뒤따라야 하는 부담이 생기므로 시그널링의 시기 결정에는 신중을 기하여야 할\n것으로 생각됨\n     다른 일부 위원은 다음과 같은 점을 종합적으로 고려할 때 전반적인 경제상황\n은 불안요인이 점증하는 가운데 상․하방위험이 혼재된 상황이라고 판단되며, 이러한\n불안요인을 제거하기 위해서는 선제적인 대응이 필요하겠으나 아직은 방향성이 뚜렷\n하다고 보기 어렵기 때문에 콜금리 목표를 현 수준에서 유지하면서 그동안의 정책금리\n변경의 효과를 치밀하게 분석․검토하여 차후에 대비하는 것이 바람직해 보인다는 견\n해를 피력하였음\n     첫째, 수출은 물량 기준으로는 증가세를 이어나갈 것으로 예상되나 금액 기준\n\n\n으로는 치열한 국제경쟁여건, 환율하락 영향을 감안할 때 견조한 증가세를 지속하는\n데 어려움이 있을 것으로 보이며 이에 따라 수출기업의 채산성 악화와 기업투자, 민간\n소비의 부진으로 이어질 가능성을 배제할 수 없음; 둘째, 내구재 소비관련 지표의 부진\n으로 볼 때 민간주체들의 경기회복에 대한 기대가 다소 약화된 것으로 보이며 실업률\n이 안정실업률(NAIRU)을 큰 폭으로 웃도는 등 고용여건도 나아지고 있지 않아 본격적\n인 소비회복에는 다소 시일이 소요될 것으로 생각됨; 셋째, 총수요 부진에 기인하여 지\n수물가는 대체로 안정세를 유지하고 있으나 고유가 등으로 비용측면의 물가상승압력\n이 여전하며 시중자금의 단기화 현상과 금융기관들이 경쟁적으로 주택관련 가계대출\n을 늘리는 행태가 부동산가격 불안을 야기하여 민간의 인플레이션 기대심리를 자극할\n우려를 낳고 있음; 넷째, 국제경제 여건면에서도 북핵 등 지정학적 위험, 미국경제의 소\n프트 패치(soft patch)와 물가불안, 위안화 절상 가능성 등으로 그 어느 때보다 불확실\n성이 증대되고 있는 상황임\n      또 다른 일부 위원은 다음과 같은 점을 종합적으로 고려할 때 이달에 콜금리\n목표를 현 수준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음\n      첫째, 고유가가 당분간 지속되면서 물가상승요인으로 작용하겠으나 금년중\n협약임금상승률을 볼 때 임금은 비교적 안정세를 유지할 것으로 예상되며 원/달러 환\n율이 1,000원 안팎에서 등락을 하고 총수요압력도 적어도 연말까지는 낮은 수준을 지\n속할 것으로 보여 전반적으로 물가는 목표범위 내에서 안정될 수 있을 것으로 생각됨;\n둘째, 건설투자의 부진이 지속되는 가운데 제조업생산과 수출 증가세가 둔화되고 있어\n경기회복이 기대에 못 미치는 완만한 속도로 이루어지고 있는 것으로 보임; 셋째, 시장\n\n\n금리가 낮은 수준에서 안정세를 유지한 가운데 금융기관의 여신활동이 활발해진 것으\n로 나타나고 있어 금융시장에서는 비교적 양호한 징후가 감지되고 있음; 넷째, 부동산\n시장에서는 최근 불안한 조짐이 관측되고 있어 이에 대한 대응방안으로 5월초에 있었\n던 정부 대책의 효과를 예의주시하면서 시장에 시그널링을 하는 방안을 신중하게 검토\n해 볼 필요가 있다고 생각됨\n      이와 같은 위원들간의 견해 표명에 따라 위원들은 콜금리 목표를 현 수준에서\n유지하는 방향으로 구체적인 의결문안을 작성하였으며, 이에 대해 위원들이 모두 동의\n하였음\n  (４) 심의결과\n    의결문 작성․가결\n    의결사항\n      ｢통화정책방향｣을 다음과 같이 결정한다.\n      □실물경제는 수출이 증가세를 유지하고 민간소비와 설비투자가 개선기미를\n        보이고 있으나 건설투자는 부진한 모습을 나타내고 있음\n    경상수지는 상품수지를 중심으로 흑자기조를 이어가고 있음\n\n\n□물가는 수요압력이 미약하여 근원인플레이션과 소비자물가가 대체로 안정\n  세를 유지하고 있으나 고유가로 인한 비용측면에서의 상승압력과 부동산\n  가격의 오름세 등 불안요인이 있음\n□금융시장에서는 전반적으로 유동성사정이 원활한 가운데 중소기업대출 등\n  금융기관의 여신활동도 다소 개선되는 기미를 보이고 있음\n□이와 같은 점을 종합적으로 감안하여 다음 통화정책방향 결정시까지 콜금리\n  (무담보 익일물 기준) 목표를 현 수준(연 3.25%) 에서 유지하는 방향으로 통\n  화정책을 운용함\n\n\n(별 첨)\n                 ｢통화정책방향｣ 관련 보고내용\nⅠ. 국내외 경제동향\n   1. 해외경제동향\n   가. 주요국경제\n        미국경제는 1․4분기 GDP 성장률이 3.1%로 낮아지는 등 성장세가 다소 둔화되\n는 모습이었음. 3월중 산업생산 및 신규주택판매 등은 견실하였으나 자본재수주(비국\n방부문)가 감소하고 소매판매 증가세도 둔화되었음\n        중국경제는 1․4분기 GDP 성장률이 예상(9.0%) 보다 높은 9.5%를 기록하는 등\n고성장을 지속하였음. 3월중 수출이 높은 증가세를 지속하고 소매판매와 산업생산도\n견조한 증가세를 유지하였음\n        유로지역 경제는 2월중 산업생산이 감소하고 3,4월중 경기체감지수 및 제조업\n구매관리자지수(PMI)도 하락세를 나타내는 등 회복세가 둔화되었음\n        일본경제는 3월중 자본재출하가 소폭 증가하였으나 소매판매 및 광공업생산\n\n\n이 전월에 이어 감소하는 등 회복이 지연되는 모습이었음\n 나. 국제금융시장\n     주요국 주가는 4월중 하락하였음. 미국 주가는 4월 중순경 주요 기업의 실적악\n화 전망, 성장세 둔화 우려 등으로 큰 폭 하락하였다가 5월 들어 소폭 반등하였음. 유로\n지역 주가 및 일본 주가도 대체로 미 주가와 동조하는 가운데 4월중 경제지표 부진 및\n중․일간 갈등에 따른 교역위축 우려 등으로 하락하였음\n     미 국채금리(10년 만기 국채수익률)는 4월중 경제지표 부진, 주가하락에 따른\n채권시장으로의 자금이동 등으로 큰 폭으로 하락하였다가 5월 들어 비농업취업자수의\n큰 폭 확대로 상승하였음\n     미달러화는 4월중 유로지역 경제지표의 상대적 부진 등으로 유로화에 대해 강\n보합세를 나타내었음. 엔화에 대해서는 위안화 절상가능성 증대 등으로 약세를 지속하\n였음\n 다. 국제유가 및 원자재가격\n     국제유가는 4월초까지 사상최고치를 경신하는 상승세를 지속하다 이후 세계\n성장 둔화 우려, 미 원유재고 증가 등으로 하락하였음\n     원자재‧곡물 가격은 4월 들어 하락 반전하였음. 동 가격은 중국의 수요감소 전\n\n\n망 및 재고증가 등으로, 알루미늄 가격은 러시아 생산증가 등으로 하락하였음. 소맥, 옥\n수수 등 곡물 가격도 수확증대 전망 등으로 약세를 지속하였음\n 2. 국내경제동향\n  가. 국내수요, 산업활동, 고용\n      소비는 3월중 소비재판매가 전월대비(계절조정후), 전년동월대비 모두 증가세\n지속하는 등 회복세를 나타내었음. 1․4분기 전체로는 소비재판매가 전기대비 0.3% 증\n가하여 2분기 연속 증가하였으며 전년동기대비로도 8분기만에 소폭 증가(0.6%) 로 전\n환하였음. 4월중 백화점 및 할인점 매출도 증가세가 지속되었음\n      설비투자는 3월중 설비투자추계지수가 전년동월대비 소폭 증가로 전환하고 1\n․4분기중 4.3% 증가하는 등 미약한 회복세를 나타내었음. 그러나 선행지표인 국내기\n계수주는 2개월 연속 감소하였음\n      건설투자는 3월중 건설기성액이 증가로 전환하였으나 1․4분기 전체로는 3.0%\n의 낮은 증가에 그치는 등 부진하였음. 선행지표인 건설수주는 재건축조합의 조기발주\n등으로 3월중 큰 폭 증가하였으며 1․4분기 전체로도 20%를 상회하는 높은 증가세를\n지속하였음\n      제조업 생산은 3월중 반도체, 자동차, 영상음향통신 부문의 생산 증대 등으로\n전년동월대비 증가로(+4.6%) 전환하였으며 1․4분기중 3.5% 증가하였음. 제조업 평균\n\n\n가동률은 큰 폭 상승하였으며 제조업 출하와 재고는 증가로 전환하였음\n       3월중 서비스업 활동지수는 도소매업, 숙박․음식점업, 사업서비스업 등이 증\n가로 전환하면서 전년동월대비 1.6% 증가하였음. 1․4분기 전체로는 0.7% 증가하여 20\n04년 2․4분기 이후 3분기만에 증가로 전환하였음\n       고용사정은 3월중 취업자수가 전월대비(계절조정후) 11.8만명 증가하는 등 개\n선기미를 보였음. 실업률은 계절조정전 기준으로 소폭 하락(2월 4.0% → 3월 3.9%) 하\n였고 계절조정후로는 전월과 동일한 3.5%를 기록하였음\n       임금상승률(상용근로자 기준)은 전년의 둔화세가 지속되고 있는 것으로 추정\n되었음. 1～3월중 임금교섭이 타결된 사업체의 협약임금 인상률은 4.0%로 전년동기(5\n.1%)에 비해 소폭 하락하였음\n  나. 물가 및 부동산가격\n       4월중 소비자물가는 전월보다 오름세가 큰 폭 둔화되었음(전월대비 : 3월 0.8\n% → 4월 0.1%). 이는 고유가 영향으로 석유류 제품의 오름세가 지속되었으나 도시가\n스요금 인하 등으로 공공요금이 하락하고 개인서비스 요금의 상승폭도 축소된 데 기인\n하였음. 전년동월대비 상승률은 3.1%로 전월과 동일한 수준을 기록하였음\n       근원인플레이션율은 전월대비로는 보합세를 나타내었으며(3월 0.6% → 4월 0\n.0%) 전년동월대비로는 2.7% 상승하였음(3월: 2.8%)\n\n\n      아파트 매매가격은 강남 재건축 아파트 및 판교신도시 인근 아파트 등이 큰 폭\n으로 상승하면서 3개월 연속 오름세를 나타내었음. 아파트 전세가격도 4월중 계절적인\n이사수요 및 재건축 이주수요 등으로 3개월 연속 오름세를 나타내었음. 3월중 아파트\n거래량은 서울 강남지역 및 대전․충남지역을 중심으로 전월대비 41.8% 증가하였으며\n4월중 주택가격전망지수는 정부의 재건축 시장 안정대책 추진 등으로 대체로 3월말과\n비슷한 수준을 나타내었음\n  다. 대외거래\n      4월중 수출은 232억달러를 기록하였으나 전년동월대비 증가율은 7.7%로 하\n락하였음(3월 13.5%). 일평균 기준으로는 3개월 연속 10억달러를 상회(10.3억달러)하\n면서 9.2% 증가하였음. 품목별로는 철강, 화공품, 자동차 및 기계류 등이 높은 증가세\n를 지속하였으나 반도체, 무선통신기기는 증가세가 둔화되고 컴퓨터는 감소세를 지속\n하였음\n      수입은 212억달러로 전년동월대비 12.5% 증가(3월 18.1%) 하여 수출증가율을\n상회하였음. 품목별로는 원자재가 원유, 화공품 등의 국제가격 상승으로 높은 증가를\n나타내었음\n      3월중 경상수지는 12억달러 흑자로 전월(10억달러)보다 흑자규모가 소폭 확\n대되었음. 4월중 경상수지는 소득수지 적자폭이 크게 확대되면서 균형 또는 소폭의 적\n자를 기록할 것으로 예상되었음\n\n\nⅡ. 외환․국제금융 동향\n 1. 환율\n       2005.4월말 원/달러 환율은 997.1원으로 전월말대비 18.4원 하락(월중 1.8%\n절상, 전년말대비 3.8% 절상)하였으나 4월중 평균환율은 1,009.7 원으로 전월보다 1.7\n원 상승하였음. 엔/달러 환율의 상승, 외국인투자 배당금 송금, 외국인주식투자자금 유\n출 등으로 4.15일 1,022.5 원까지 상승하였다가 엔/달러 환율 반락, 비거주자의 역외선\n물환(NDF) 매도 증가 등으로 하락세로 반전된 후 월말일에 중국 위안화 평가절상 임박\n설이 확산되면서 급락(일중 -5.5원)하여 997.1원으로 마감하였음.\n       4월말 원/엔 환율(100엔당)은 945.8원으로 전월말보다 2.0원 하락(월중 0.2%\n절상, 전년말대비 6.7% 절상)하였음.\n       주요 10개 교역상대국의 환율변동을 고려하여 산출한 4월중 원화의 명목실효\n환율(월평균 기준)은 전월대비 0.5% 절상되었고 아시아 5대 수출경쟁국(중국, 일본, 홍\n콩, 대만, 싱가포르) 통화만을 대상으로 산출한 원화의 명목실효환율도 전월대비 0.5%\n절상되었음\n       4월중 외국환은행은 선물환 매입초과포지션(5.8억달러) 커버 등을 위해 현물\n\n\n환을 4.2억달러 순매도하였음\n 2. 외환수급\n      2005.4월중 경상거래는 전월의 20억달러 흑자에서 4억달러 적자로 전환되었\n음. 무역거래는 수출이 수입보다 더 크게 감소하여 흑자폭이 전월(39억달러)보다 축소\n(27억달러)되었으며 무역외거래는 외국인투자 배당금 송금(-23억달러) 등으로 적자규\n모가 전월(-19억달러)보다 크게 확대(-31억달러)되었음\n      4월중 자본거래는 전월의 큰 폭 순유출(-16억달러)에서 소폭 순유입(5억달러)\n으로 반전되었음. 장기자본거래는 내국인의 해외 직․간접투자가 감소한 데다 외국인의\n국내직접투자는 크게 증가하여 전월의 순유출(-18억달러)에서 소폭 순유입(5억달러)\n으로 전환되었으나 단기자본거래는 수출선수금 감소 등으로 전월(3억달러)보다 순유\n입 규모(1억달러)가 축소되었음\n      4월중 금융거래는 전월(50억달러)보다 순유입 규모가 크게 축소(9억달러)되었\n음. 국내은행은 차입금 상환을 위한 외화콜론 회수 등으로 23억달러가 순유입되었으나\n외은지점은 Buy & Sell 스왑으로 매입한 외화자금을 해외 본지점 대여 등으로 운용함\n에 따라 14억달러가 순유출되었음\n 3. 외환보유액 및 외채\n\n\n      2005.4월말 외환보유액은 2,064억달러로 월중 9억달러 늘어나 전월(33억달러\n)에 비해 증가규모가 크게 축소되었음. 외환보유액의 증가는 미 달러화 약세로 엔화 등\n기타통화 표시자산의 미 달러화 환산액이 증가한데 주로 기인함\n      4월말 총외채(추정치)는 1,863억달러로 월중 5억달러 증가하는데 그쳐 전월(4\n0억달러)보다 증가폭이 크게 축소되었음. 장기외채는 외화증권 상환 등으로 3억달러\n감소하였으며 단기외채는 국내은행의 차입을 중심으로 8억달러 증가하였음\n      한편 4월말 순대외채권은 1,070억달러로 전월말대비 15억달러 감소하여 전월\n(-32억달러)보다 감소폭이 축소되었음. 총외채는 소폭(5억달러) 증가에 그쳤으나 국내\n은행이 외화차입금 상환을 위해 해외에서 외화콜론을 큰 폭(14억달러) 회수함에 따라\n총대외채권이 크게 감소하였기 때문임\n 4. 국내은행 외화자금사정\n      2005.4월중 국내은행의 외화차입여건은 국제금융시장에서 안전자산 선호경\n향이 지속됨에 따라 다소 악화되었음. 외평채(2013년 만기) 가산금리(76bp)는 GM사\n및 Ford사의 채권가격 폭락의 영향으로 88bp(4.18일)까지 상승하였다가 월말에는 전\n월말 수준(75bp)으로 하락하였음. 단기차입 가산금리(11bp)는 국내은행이 여유자금을\n활용하여 선별 차입함에 따라 낮은 수준을 유지하였으며 장기차입가산금리(17bp)도\n평균차입기간 축소로 하락하였음\n      4월중 국내은행은 외화차입금을 소폭 순상환하였으며 이를 외화콜론 회수 등\n\n\n으로 보전하였음. 단기자금은 만기도래 차입금보다 많은 자금을 차입하였으나 중장기\n자금의 경우 크게 적은 자금을 차입하였음. 한편 외화대출은 운전자금용 달러화 대출\n을 중심으로 8억달러 증가하였고, 거주자외화예금은 기업의 수출대금 예치 등으로 전\n월보다 9억달러 증가하여 지난해 11월 이후의 감소세가 증가로 반전되었음\n 5. 국제금융시장\n      2005.4월중 미국 주가는 하락하였음. Dow Jones 지수는 미국의 1/4분기 GDP\n성장률 둔화(3.1%, 전분기 3.8%) 등 경제지표 부진에 따른 소프트패치(soft patch)에\n대한 우려로 하락(-3.0%)하였으며 Nasdaq 지수도 경제지표 부진 발표, Apple사 등 기\n술주의 실적부진 등으로 하락(-3.9%)하였음\n      4월중 유럽과 일본 주가도 하락하였음. 유럽 주가는 유로지역 경제에 대한 비\n관적 전망, 인피니언사 등 주요 기업들의 실적부진 등으로 하락(독일 -3.8%, 프랑스 -3.\n8%, 영국 -1.

In [ ]:
preprocess_minutes(content_test)

(['Economic Situation',
  'Foreign Currency',
  'Financial Markets',
  'Monetary Policy',
  'Participants’ Views',
  'Government’s View'],
 (['일부 위원은 지난해 풍작에 따른 효과와 금년초 담배가격 인상에 따른 생산 감소 등 특수요인을 제외하면 금년 1/4분기에도 작년 4/4분 기와 비슷한 경제성장세가 유지되고 있는 것으로 보인다는 견해를 밝혔음.',
   '동 위원은 건설투자의 선행지표인 건축허가면적과 국내 건설수주액이 기성이나 실제 건설투자로 나타나는 데 걸리는 시간을 감안할 때 2003년 3/4분기부터 2004년 3/ 4분기까지 이어진 건축허가면적과 국내 건설수주실적의 마이너스 성장세가 금년 하반 기 건설투자의 부진으로 나타나지는 않을지 물었음.',
   '이에 대해 관련부서에서는 지난해 3/4분기까지 건설수주실적이 저조했던 데 따 른 영향이 금년 하반기까지 계속되기는 하겠으나 새로운 요인으로서 작년 4/4분기 이 후 건설수주실적이 호전되어 실제 착공으로 이어지고 있는 물량과 정부 종합투자계획 이 플러스 요인으로 작용할 것임을 감안하면 하반기경에는 건설투자가 부진에서 벗어 나 점차 개선될 것으로 보인다고 답변하였음.',
   '또한 동 위원은 수출물량이 가격요인보다는 해외 수요요인에 의해 주로 결정된 다는 분석결과와 관련하여 동 분석에서 대상으로 한 기간이 환율 변동이 심했던 외환 위기 전후를 포함하고 있는 데다 국제시장에서 동질의 제품끼리 벌이는 치열한 경쟁에 있어서는 가격이 물량에 미치는 영향력이 상당할 것임을 감안할 때 환율 하락이 수출 에 미치는 영향이 과소평가된 것은 아닌지 물었음.',
   '이에 대해 관련부서에서는 외환위기 직후 수출물량이 크게 늘어나지는 않았다는 점에서 외환위기 전후를 분석기간에 포함한 데 따른 왜곡요인은 크지 않은 것으로 판 단되며 우리나라의 주요 수출품목인 반도체, 자동차, 선박 등이 국제적으로 경쟁력을   지니고 있는 데다 시장점유율도 높기 때문에 수출물량의 가격탄력성이 과거에 비해 현 저히 낮아진 상황이라고 설명하였음.',
   '다른 일부 위원은 동향보고자료 상의 소비관련지표나 통계청 소비자전망조사결 과 중 내구소비재구매지수 등을 볼 때 경제주체들의 소비회복에 대한 기대가 다소 하 락하면서 민간소비 회복에 악영향을 미치는 것은 아닌지 물었으며, 이에 대해 관련부 서에서는 현재까지 나온 지표와 기대심리 등을 고려할 때 내구재 측면에서는 소비가 회복되는 조짐이 뚜렷하지 않으나 비내구재를 중심으로 조금씩 나아지고 있어 완만한 회복세를 보일 것으로 본다고 답변하였음.',
   '동 위원은 근원인플레이션, 소비자물가, 생산자물가 등의 지수물가는 안정세를 보이고 있으나 생활물가의 큰 폭 상승으로 민간의 실질구매력이 크게 하락하여 소비 회복에 부정적인 영향을 미칠 가능성은 없는지 검토해 볼 필요가 있다는 견해를 제시 하였음.',
   '또한 동 위원은 경기순환 상 또는 과거의 경험에 기초한 경기국면 판단은 다소 현 실성이 부족한 측면이 있는 것으로 생각된다면서 현재와 같이 불확실성이 높은 상황에 서 환율, 북핵, 금리역전 등의 주요 위험요인이 복합적으로 일어날 경우 우리 경제에 미 치는 영향을 분석해 볼 필요가 있다는 견해를 나타내었음.',
   '또 다른 일부 위원은 우리의 주요 수출대상국인 미국, 일본, EU 의 경제성장세가   최근 들어 둔화될 조짐을 보이고 있는 데다 중국 위안화가 평가절상될 경우 우리나라 원화도 부분적으로 평가절상 압력을 받을 것으로 보이는 등 수출에 대한 하방위험이 증대되고 있음에도 불구하고 수출이 견조한 증가세를 유지할 것으로 본 것은 다소 낙 관적인 전망으로 생각된다는 의견을 제기하였음.',
   '이에 대해 관련부서에서는 세계경제성장에 대한 하방위험이 있는 것이 사실이나 IMF 등에서 공식적으로 발표한 전망치를 볼 때 그 가능성은 높지 않다고 보며, 위안화 절상 문제도 이를 구체화시켜 고려해야 할 만큼 가능성이 높은 것은 아니며 설사 실현 된다 하더라도 그 폭이 크지 않고 이미 원화가 상당폭 절상되어 있는 상황이기 때문에 원화의 추가절상압력으로 작용할 여지는 크지 않다고 설명하였음.',
   '일부 위원은 정책시차를 감안하여 현재의 통화정책 결정이 내년 상반기 내지 하 반기를 정책시계로 하여 이루어진다는 점에서 북핵, 고용불안 문제와 더불어 대선 1년 전인 내년중 증폭될 지도 모르는 정치면에서의 불안 등에 따른 경제상황의 불확실성에 대한 철저한 대비와 연구가 이루어질 필요가 있다는 견해를 밝혔음.',
   '또한 동 위원은 글로벌화된 세계경제여건 하에서 국내외 경제의 긴밀한 연관성 을 반영할 수 있도록 세계 계량경제모형(world econometric model)의 개발을 검토해 볼 필요가 있다는 견해를 개진하였음.',
   '다른 일부 위원은 금년 1/4분기 경제성장률 하락의 설명요인으로 언급된 조업일   수 감소의 영향이 한 달의 기간에서는 유의할지 몰라도 두 달 이상의 기간에서는 가동 률이 100%에 달하지 않는 이상 특정 기간의 조업일수 감소로 인한 생산 부족분을 이후 잔업 등을 통해 보충할 수 있다는 점에서 성장률 하락을 설명하기에는 충분하지 못할 수도 있다는 견해를 나타내었음.',
   '동 위원은 서비스업 생산을 전망함에 있어 전망모형에 설명변수로 들어간 수출 과 민간소비의 전망치 자체가 불확실하다는 점에서 모형에 의존하는 방법 외에 세부 업종별로 미시적으로 접근하여 전망하는 방법에 대해 검토해 볼 필요가 있다는 견해를 밝혔음.',
   '또한 동 위원은 우리나라의 주요 수출대상국별 주요 수출품목에 대한 검토를 통 해 해외수요 측면에서 수출 전망을 해 볼 필요가 있다고 언급하고, 전통적으로 IT관련 제품의 수출비중이 높은 미국이나 유럽 지역에 대한 수출이 최근 부진한 것과 관련하 여 세계 IT경기에 대한 해외 유관기관들의 다양한 전망과 그 근거를 살펴볼 필요가 있 다는 견해를 나타내었음.',
   '한편 동 위원은 원화 절상이 수출입, 내수, 설비투자 등 각 부문별로 미치는 영향 을 종합한 정상 시나리오와 원화 절상이 시작된 이후 현재까지 약 6개월간의 실제 경과 상황을 비교해보고 양자간에 괴리가 있다면 그 원인이 무엇인지 분석해볼 필요가 있다 는 견해를 피력하였음.'],
  ['일부 위원은 내외금리차 역전에 따라 자금의 해외유출이 대규모로 발생될 가능성을 상당히 경계하여야 한다고 언급하면서 금리격 차가 어느 정도로 벌어질 경우 자금의 해외유출 현상이 유의할 정도로 심화되고 그러 한 현상이 일어날 경우 국내 채권시장에는 어떠한 영향을 미칠 것으로 보는지 물었음.',
   '이에 대해 관련부서에서는 우리나라에서는 그러한 사례가 없었기 때문에 대만과 일본의 사례를 살펴보면 내외금리차 역전이 고착된 상황인 것으로 시장이 인식하여 자 금의 해외유출이 본격화되기 시작했을 때의 금리격차는 약 1.5%포인트 정도였으며, 대만의 경우 유동자금이 많고 외환시장이나 GDP 규모면에서 우리나라보다 훨씬 작기 때문에 국내 채권시장에 미친 영향은 거의 없었던 것으로 생각된다고 설명하였음.',
   '동 위원은 자금의 해외유출에 대한 정책적 대응을 위해 내외금리나 환율에 대해 서도 인플레이션 팬차트와 같이 위험밴드를 설정하여 확률적으로 접근하는 방법을 고 려해 볼 수 있는지 물었으며, 이에 대해 관련부서에서는 내외금리나 환율의 경우 해외 요인의 영향을 크게 받기 때문에 확률적 접근방법의 활용이 매우 어려우며 모니터링을 강화하거나 자금유출 방지를 위한 제도를 마련하는 것이 보다 현실적인 대응방안으로 생각된다고 답변하였음.',
   '다른 일부 위원은 최근 금융기관의 외화대출이 늘어나고 있는 것과 관련하여 금 융기관이 해외에서 차입을 통해 조달하는 외화자금의 통화구성 및 만기와 외화대출 등 에의 운용상황, 통화스왑연계 외화대출 메커니즘 등에 대해 살펴볼 필요가 있다는 견   해를 나타내었음.',
   '또 다른 일부 위원은 전년 동기와 비교할 때 금년 1～4월중 국내시장에 대한 외국 인증권투자 실적이 매우 부진한 반면 해외증권투자는 늘어나는 현상을 어떻게 해석할 수 있는지 물었으며, 이에 대해 관련부서에서는 대만이 5월부터 MSCI (Morgan Stanley Capital International)지수에 편입됨에 따라 3～4월중 외국인 자금의 상당부분이 대만 으로 이동하였으며 내외금리차 축소로 해외증권투자에 대한 기회비용이 줄어든 데다 기관투자자들의 포트폴리오 관리 측면에서도 바람직한 유인이 있어 국내 거주자의 해 외증권투자 여건은 상당히 성숙되어 있는 상황이라고 설명하였음.',
   '동 위원은 경상거래와 자본거래에서 모두 흑자가 발생했던 작년과 비교하여 금 년에는 경상거래에서 발생한 흑자를 자본거래에서의 적자가 어느 정도 상쇄시키고 있 다고 언급하면서 이는 포트폴리오 투자를 위한 정상적인 스무딩(smoothing) 과정으로 보이며 외환보유액 관리 부담을 덜 수 있는 긍정적인 측면도 있다는 점에서 일각에서 제기하는 바와 같이 급격한 자본유출을 우려할 만한 상황은 아닌 것으로 생각된다는 견해를 밝혔음.'],
  ['일부 위원은 4월중 연기금의 주식매매 패턴이 주식 시장의 안정과 역행하는 방향으로 작용했는지 물었으며, 이에 대해 관련부서에서는 4 월중 다른 기관투자가와 달리 연기금에서 순매도를 하면서 주식시장에 다소 부정적인 영향을 미친 것이 사실이나 향후 전반적으로는 안정적인 운용패턴을 유지해 나갈 것으   로 보인다고 답변하였음.',
   '동 위원은 최근 은행들이 마땅한 자금 운용대상 확보가 쉽지 않음에 따라 주택담 보대출 금리를 경쟁적으로 인하하거나 비우량기업에 대한 대출을 늘리는 등의 행태를 보이고 있다고 언급하면서 이러한 행태가 지속될 경우 과도한 금융완화로 인한 금융시 장 불안요인으로 작용할 위험은 없는지 면밀히 점검해 볼 필요가 있다는 견해를 나타 내었음.',
   '이에 대해 관련부서에서는 최근 은행들간의 금리인하 경쟁은 금년중 주택담보대 출 잔액 상당부분의 만기가 집중되면서 이를 유치하려는 데 따른 일시적 현상으로 보 이나 경쟁과열과 비우량기업에 대한 대출이 은행의 수지, 건전성 등에 미칠 수 있는 부 정적인 영향에 대해서는 각별한 주의를 기울여야 할 것으로 생각된다고 설명하였음.',
   '다른 일부 위원은 최근 은행들의 주택담보대출 증대 노력은 과거와 같은 신규대 출 확대의 형태와 아울러 만기도래에 따른 연장분을 경쟁적으로 유치하려는 형태도 나 타나고 있다고 언급하면서, 대출시장이 수요자 우위 또는 공급자 우위인지를 판단하기 위해 만기 연장이 동일 은행에서 낮은 금리를 적용받는 조건으로 이루어지고 있는지 아니면 다른 은행으로의 대출처 변경에 의해 이루어지고 있는지 살펴볼 필요가 있다는 견해를 밝혔음.',
   '한편 동 위원은 4월중 은행 여신과 수신이 대폭 늘어났다는 점에서 은행의 금융   중개기능(financial intermediation)이 실질적으로 활발해진 것으로 볼 수 있는지, 5월 이 후에도 이러한 신장세가 지속될 것인지에 대해 평가․전망해 볼 필요가 있다는 견해를 개진하였음.',
   '또한 동 위원은 금융중개기능의 회복이 민간소비나 투자 등에 어떤 경로를 통해 어느 정도의 시차를 두고 영향을 미칠 것으로 보는지 물었으며, 이에 대해 관련부서에 서는 기업대출이나 가계대출이 늘어난다는 것은 결국 기업이나 가계에서 투자나 소비 를 위한 자금수요가 있다는 것을 의미하기 때문에 큰 시차 없이 투자나 소비로 이어질 것으로 보이며 경기회복에 긍정적인 신호로 해석될 수 있을 것이라고 답변하였음.',
   '또 다른 일부 위원은 현재 주택담보대출의 대부분이 변동금리부 조건으로 이루 어지고 있다는 점에서 향후 금리 상승시 가계에 미치는 부담 증가와 연체율 상승이 발 생할 위험에 대해 유의할 필요가 있다는 견해를 나타내었음.'],
  ['일부 위원은 주택가격 급등에 대해 중앙은행이 정책금리 인상으로 대응했던 영국과 호주의 사례를 참조하여 주택가격 상승률이 어느 정도에 이르렀을 때 정책금리 를 인상하기 시작했으며 그 때의 주택가격 상승률이 우리나라의 경우와 비교할 때 어 떤 수준인지에 대해 검토해 볼 필요가 있다는 견해를 밝혔음.',
   '또한 동 위원은 영국이나 호주의 경우와 달리 경기가 부진한 가운데 주택가격 이 과도하게 상승할 경우 필요한 대응책과 다른 나라의 유사한 사례, 정책 실행 이전 시 그널링(signaling)의 유효성, 토지․부동산버블 문제 등 제반 부동산관련 이슈에 대한 심 도 있는 분석이 조속히 이루어질 필요가 있다는 견해를 피력하였음.',
   '한편 동 위원은 통화정책당국의 시그널링 문제를 검토할 필요가 있다는 관련 부서의 보고가 5월초 정부가 내놓은 부동산시장 안정대책의 기대효과가 크지 않을 것 이라는 예상에 따른 것인지 물었으며, 이에 대해 관련부서에서는 정부의 이번 대책이 다분히 중장기적이고 이미 발표되었던 원칙적인 내용을 많이 담고 있는 데다 부동산시 장 관계자에 대한 모니터링 결과에서도 동 대책이 근본적인 해결책이 되지는 못하며 상황 변화에 따라 다른 조치가 잇따를 것이라는 기대가 시장에 형성되어 있는 것으로 조사되었다고 답변하였음.',
   '이와 관련하여 동 위원은 경기가 부진한 가운데 부동산가격이 불안한 움직임.',
   '을 보이는 상황에서 부동산시장 안정대책의 효과도 미흡할 경우 통화정책 기조를 변경 하지 않더라도 시중자금이 소비나 투자가 아닌 부동산시장으로 집중되어 경기회복을 지연시키고 물가에는 업사이드 리스크로 작용하여 통화정책 효과를 위축시키는 문제 가 나타날 수 있다고 우려하면서, 정책의 효과를 증대시키고 보다 적절한 방향으로 유 도할 수 있도록 하는 방안을 강구할 필요가 있다는 견해를 제시하였음.',
   '다른 일부 위원은 금리의 무차별적인 효과를 감안할 때 금리정책을 주택시장   과 같은 특정 시장의 불안정을 해소시키기 위한 목적으로 쓸 때는 상당히 신중을 기해 야 할 것이며, 정책 실행 이전에 시그널링을 하는 것도 민감하게 반응하는 시장상황에 서 오히려 역효과를 낼 가능성이 있다는 점을 고려할 때, 정책금리 변경이 소비․투자 등 실물경제, 물가, 부동산 등 자산가격, 환율 등에 미치는 효과에 대한 면밀한 분석이 선 행되어야 할 것이라는 견해를 피력하였음.',
   '이에 대해 관련부서에서는 자산가격의 버블 여부와 정도를 파악하는 것 자체 가 매우 어렵기 때문에 자산가격 상승에 대해 금리정책으로 대응하는 것은 물론 신중 을 기해야 하나 중장기적으로 안정기조가 흔들릴 가능성이 있다고 판단된다면 분명한 정책적 대응이 있어야 된다고 생각하며, 정책금리 변경의 효과는 현재 모형을 통한 추 정에 의해 평가할 수밖에 없으나 이는 경제구조의 행태 변화를 반영하지 못하는 한계 를 지니고 있기 때문에 보다 미시적인 접근을 통하여 정책 효과를 평가하는 방안을 검 토하고 있다고 설명하였음.',
   '또 다른 일부 위원은 최근 국지적인 상승세가 전체 지가 상승을 주도하고 있는 토지시장에 대해서도 주의를 기울일 필요가 있다고 언급하고, 부동산시장 문제를 해결 하기 위해 금리정책을 쓸 경우 실질적인 효과를 발휘하기 위해서는 금리 조정이 상당 폭으로 이루어져야 될 것으로 생각된다는 견해를 밝혔음.',
   '일부 위원은 영국이나 호주에서와 같이 주택가격 급등에 대응해 금리를 인상 하더라도 경제회복에 지장을 초래하지 않을 것으로 생각하는지 물었으며, 이에 대해 관련 부서에서는 지금과 같이 경기회복이 지연되는 상황에서 통화정책 대응은 경기에   미칠 영향을 고려하여 신중히 판단할 문제이나 주택시장 불안이 계속된다면 구체적인 행동을 취하지는 못하더라도 시그널링 정도는 필요하다고 생각하며 현재와 같은 상황 에서는 금리를 올려도 경기에 큰 영향을 주지 않을 수 있기 때문에 금리인상이 경기에 미치는 영향에 대해서는 좀더 검토해 볼 필요가 있다고 답변하였음.',
   '동 위원은 미 연준 등에서는 통화정책에 왜곡을 가져올 수 있다는 점에서 주가 수준에 대해 언급하거나 시그널을 주는 것을 금기시하고 있다고 언급하면서 주가와 경 제성장의 관계, 주가전망 등에 대한 보다 심도 있고 신중한 분석이 이루어질 필요가 있 다는 견해를 밝혔음.',
   '한편 동 위원은 통화정책방향을 결정함에 있어 재정정책과의 정책조합(policy mix)을 통해 정책효과를 극대화하기 위해서는 재정부문에 대한 분석이 필수적으로 선 행되어야 한다고 언급하면서 경기부양을 위해 재정의 조기집행이 이루어지면서 한국 은행의 정부에 대한 대출과 통화안정증권 발행이 크게 늘어난 상반기에 비해 하반기에 는 재정수지가 어떻게 될 것으로 전망되는지, 상반기에 비해 하반기 재정정책이 덜 확 장적인 기조를 보일 경우 우리 경제에 미치는 영향은 어떻게 달라질 것으로 보는지에 대해 물었음.',
   '이에 대해 관련부서에서는 현재까지는 연초에 정해진 재정정책 기조가 그대 로 유지되고 있으며 재정집행상황을 볼 때 상반기에 비해 하반기에는 재정지출이 상당 폭 줄어들고 통화안정증권 발행압력도 완화될 것으로 보인다고 답변하였음.',
   '동 위원은 주택시장 불안요인으로서 저금리 기조 이외에 과잉유동성 문제는 없는지 살펴볼 필요가 있으며 이를 위해 기존의 유동성 판단지표 외에 실질국내총생산 증가율과 실질통화증가율을 비교해보고 그 흐름에는 어떤 변화가 있었는지 점검해 볼 필요가 있다는 견해를 나타내었음.',
   '이상과 같은 토론에 이어 콜금리 목표 조정여부 및 조정폭에 관한 위원별 의견 개진이 있었음.',
   '일부 위원은 다음과 같은 점을 종합적으로 고려할 때 이번에는 콜금리 목표를 현 수준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음.',
   '첫째, 고유가에도 불구하고 비교역재가격의 안정으로 근원인플레이션율은 목 표범위 내에서 유지될 확률이 높으며 더 낮아질 가능성도 있음.',
   '둘째, 1/4분기 경제성 장률이 전분기에 비해 둔화될 것으로 보이는 가운데 향후 주요 수출대상국들의 경제성 장 둔화에 따라 수출증가율도 낮아질 가능성이 있는 데다 건설투자, 설비투자의 불확 실성도 상존하고 있음.',
   '셋째, 4월중 은행을 중심으로 여․수신이 크게 늘어나는 등 금융 중개기능이 원활하게 작동되고 주식관련 펀드로 자금 유입이 계속되었으며 금융기관 의 대출태도지수도 계속 호조를 보이고 있음.',
   '넷째, 정부의 부동산시장 안정대책은 특 히 토지에 대해서는 효과를 보이지 못하고 있으며 이는 통화정책에도 부담을 가중시키 고 있음.',
   '다섯째, 일부 지방자치단체의 개발과 관련된 부패사건은 정부에 대한 신뢰를 떨어뜨림은 물론 우리사회에 한탕주의를 만연시켜 국민경제의 총생산성과 장기금융 시장의 발전을 저해하고 통화정책의 효과를 제약하는 요인으로 작용하고 있음.',
   '여섯째   , 중국과 인도의 저임금에 기초한 경제성장으로 세계적으로 낮은 인플레이션이 유지되 면서 우리나라에서도 저금리 하에 인플레이션 목표가 달성되고 있으나 그 이면에는 중 국, 기타 선진국에서 발생한 부동산 버블이 소비에 영향을 미쳐 미국의 경상수지 적자 폭을 확대시키고 외환시장에도 영향을 주어 원화환율이 과도하게 낮아지는 원인을 제 공하고 있음.',
   '일곱째, 원화 절상, 재정의 조기집행, 저금리 유지가 비교적 적절한 정책 혼합으로 판단이 되나 이는 부동산문제 해결에는 적용되기 어려운 측면이 있기 때문에 부동산가격과 건설투자의 연착륙(soft landing) 여부가 불확실함.',
   '다른 일부 위원은 다음과 같은 여러 가지 점을 감안할 때 콜금리 목표를 현 수 준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음.',
   '첫째, 그동안 우리 경제의 성장 원동력으로 작용하였던 수출 증가세가 세계 주 요 경제권의 성장세 둔화와 원화 절상 등으로 둔화되는 조짐이 시차를 두고 나타나고 있는 것으로 보임.',
   '둘째, 민간소비는 조금씩 회복되는 조짐이 보이고 있으나 아직 미흡 한 수준이며 설비투자는 개선의 기미가 보이지 않고 있어 경제성장의 하방위험이 다소 확대된 것으로 생각됨.',
   '셋째, 소비자물가와 근원인플레이션은 4월 들어 다소 안정되는 모습을 보이고 있으나 향후 실물경제가 회복될 경우 수요측면의 상승압력으로 작용할 수 있는 데다 고유가 등 비용측면의 상승압력이 시차를 두고 물가에 불안요인으로 작 용할 가능성이 있음.',
   '넷째, 통화정책은 완화기조를 유지하고 있는 것으로 보이나 미국 이 계속 금리를 인상하고 있는 가운데 ECB 등 다른 주요 중앙은행들도 금리 인상에 동 참하게 될 경우 금리결정을 통한 정책적 대응이 매우 어려운 환경에 직면할 수 있음.',
   '다 섯째, 중국 위안화 절상이 불가피하다는 것이 대세로 받아들여지고 있어 원화의 추가   절상압력으로 작용할 위험이 상존해 있음.',
   '또 다른 일부 위원은 근원인플레이션율이 목표범위를 벗어날 징후가 보이지 않는 가운데 유가 등 원자재가격도 비교적 안정적인 추세를 보일 것으로 예상되고 있 는 반면에 소비, 설비투자 등 내수가 회복되는 기미를 보이고는 있으나 아직 본격적인 회복세에 들어섰다고 보기에는 미흡하며 미국을 중심으로 한 긴축적 통화정책 등으로 불리한 대외여건이 조성되면서 수출의 하방위험이 높아지고 있어 이달에 콜금리 목표 를 현 수준에서 유지하는 것이 바람직해 보인다는 견해를 나타내었음.',
   '아울러 동 위원은 다음과 같은 불확실성에 대해 예의주시하면서 대응 방안을 심각하게 고민해야 할 상황이라는 의견을 덧붙였음.',
   '첫째, 경기회복을 위해 완화적인 통화정책 기조를 유지하는 데 따른 부작용으 로 부동산시장에 거품이 형성될 수 있다는 데 유의하면서 필요할 경우 단호히 대처해 나갈 필요가 있음.',
   '둘째, 달러화 및 위안화의 변동성이 커지면서 세계 금융시장이 불안 해지고 미국을 중심으로 한 긴축정책으로 그동안 세계경제 호황 중에 형성된 거품이 붕괴될 위험이 증대되고 있으며 북핵문제, 집단이기주의로 인한 정책 추진 및 대응능 력 약화 등 대내외적으로 불확실성이 심각한 수준에 이르고 있는 것으로 생각됨.',
   '한편 일부 위원은 경기부양을 위해 적자재정정책이 계속되고 있고 통화정책 도 여전히 완화기조를 유지하고 있는 반면 원화 절상은 경기에 반대 방향으로 작용하 는 측면이 있다고 언급하면서, 다음과 같은 점을 고려할 때 현재로서는 정책금리 목표   를 바꿀 상황은 아닌 것으로 생각되어 이번에는 콜금리 목표를 현 수준에서 유지하는 것이 바람직해 보인다는 견해를 제시하였음.',
   '첫째, 소비와 투자가 조금씩 증가하고는 있으나 그 폭은 여전히 미약하고 가까 운 장래에 크게 늘어날 가능성도 낮은 가운데 유럽, 일본 경제의 회복이 더딜 것으로 보 여 수출에 부정적인 영향을 미칠 것으로 판단됨.',
   '둘째, 물가는 경기부진과 환율 하락에 기인하여 대체로 안정세를 유지하고 있으나 원유가격이 여전히 당초 전망 수준을 웃돌 고 있어 물가상승압력으로 작용할 위험이 상존해 있음.',
   '셋째, 4월중 금융기관 대출이 늘어난 것은 기업대출 증가와 금융중개기능 관점에서 긍정적으로 볼 수 있겠으나, 다 른 한편으로는 주택대출 증가가 부동산시장으로의 자금 유입으로 이어진다는 점에서 유의할 상황인 것으로 생각되며, 부동산문제에 대응하여 시그널링을 할 경우 실제 행 동이 뒤따라야 하는 부담이 생기므로 시그널링의 시기 결정에는 신중을 기하여야 할 것으로 생각됨.',
   '다른 일부 위원은 다음과 같은 점을 종합적으로 고려할 때 전반적인 경제상황 은 불안요인이 점증하는 가운데 상․하방위험이 혼재된 상황이라고 판단되며, 이러한 불안요인을 제거하기 위해서는 선제적인 대응이 필요하겠으나 아직은 방향성이 뚜렷 하다고 보기 어렵기 때문에 콜금리 목표를 현 수준에서 유지하면서 그동안의 정책금리 변경의 효과를 치밀하게 분석․검토하여 차후에 대비하는 것이 바람직해 보인다는 견 해를 피력하였음.',
   '첫째, 수출은 물량 기준으로는 증가세를 이어나갈 것으로 예상되나 금액 기준   으로는 치열한 국제경쟁여건, 환율하락 영향을 감안할 때 견조한 증가세를 지속하는 데 어려움이 있을 것으로 보이며 이에 따라 수출기업의 채산성 악화와 기업투자, 민간 소비의 부진으로 이어질 가능성을 배제할 수 없음.',
   '둘째, 내구재 소비관련 지표의 부진 으로 볼 때 민간주체들의 경기회복에 대한 기대가 다소 약화된 것으로 보이며 실업률 이 안정실업률(NAIRU)을 큰 폭으로 웃도는 등 고용여건도 나아지고 있지 않아 본격적 인 소비회복에는 다소 시일이 소요될 것으로 생각됨.',
   '셋째, 총수요 부진에 기인하여 지 수물가는 대체로 안정세를 유지하고 있으나 고유가 등으로 비용측면의 물가상승압력 이 여전하며 시중자금의 단기화 현상과 금융기관들이 경쟁적으로 주택관련 가계대출 을 늘리는 행태가 부동산가격 불안을 야기하여 민간의 인플레이션 기대심리를 자극할 우려를 낳고 있음.',
   '넷째, 국제경제 여건면에서도 북핵 등 지정학적 위험, 미국경제의 소 프트 패치(soft patch)와 물가불안, 위안화 절상 가능성 등으로 그 어느 때보다 불확실 성이 증대되고 있는 상황임.',
   '또 다른 일부 위원은 다음과 같은 점을 종합적으로 고려할 때 이달에 콜금리 목표를 현 수준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음.',
   '첫째, 고유가가 당분간 지속되면서 물가상승요인으로 작용하겠으나 금년중 협약임금상승률을 볼 때 임금은 비교적 안정세를 유지할 것으로 예상되며 원/달러 환 율이 1,000원 안팎에서 등락을 하고 총수요압력도 적어도 연말까지는 낮은 수준을 지 속할 것으로 보여 전반적으로 물가는 목표범위 내에서 안정될 수 있을 것으로 생각됨.',
   '둘째, 건설투자의 부진이 지속되는 가운데 제조업생산과 수출 증가세가 둔화되고 있어 경기회복이 기대에 못 미치는 완만한 속도로 이루어지고 있는 것으로 보임.',
   '셋째, 시장   금리가 낮은 수준에서 안정세를 유지한 가운데 금융기관의 여신활동이 활발해진 것으 로 나타나고 있어 금융시장에서는 비교적 양호한 징후가 감지되고 있음.',
   '넷째, 부동산 시장에서는 최근 불안한 조짐이 관측되고 있어 이에 대한 대응방안으로 5월초에 있었 던 정부 대책의 효과를 예의주시하면서 시장에 시그널링을 하는 방안을 신중하게 검토 해 볼 필요가 있다고 생각됨.',
   '이와 같은 위원들간의 견해 표명에 따라 위원들은 콜금리 목표를 현 수준에서 유지하는 방향으로 구체적인 의결문안을 작성하였으며, 이에 대해 위원들이 모두 동의 하였음.'],
  [],
  []))

In [ ]:
mpd_df['content_sep'] = mpd_df['content'].apply(lambda x: preprocess_minutes(x))
mpd_df.head()

                                               title  ...                                        content_sep
0  금융통화위원회 의사록(2005년도 제10차)(2...  ...  ([Economic Situation, Foreign Currency, Financ...
1                 금융통화위원회 의사록(2005년도 제12차)(2005.6.9)  ...  ([Economic Situation, Foreign Currency, Financ...
2                금융통화위원회 의사록(2005년도 제13차)(2005.6.23)  ...  ([Economic Situation, Foreign Currency, Financ...
3                 금융통화위원회 의사록(2005년도 제14차)(2005.7.7)  ...  ([Economic Situation, Foreign Currency, Financ...
4                금융통화위원회 의사록(2005년도 제17차)(2005.8.11)  ...  ([Economic Situation, Foreign Currency, Financ...

[5 rows x 4 columns]

In [ ]:
mpd_df.iloc[0,3]

(['Economic Situation',
  'Foreign Currency',
  'Financial Markets',
  'Monetary Policy',
  'Participants’ Views',
  'Government’s View'],
 (['일부 위원은 지난해 풍작에 따른 효과와 금년초 담배가격 인상에 따른 생산 감소 등 특수요인을 제외하면 금년 1/4분기에도 작년 4/4분 기와 비슷한 경제성장세가 유지되고 있는 것으로 보인다는 견해를 밝혔음.',
   '동 위원은 건설투자의 선행지표인 건축허가면적과 국내 건설수주액이 기성이나 실제 건설투자로 나타나는 데 걸리는 시간을 감안할 때 2003년 3/4분기부터 2004년 3/ 4분기까지 이어진 건축허가면적과 국내 건설수주실적의 마이너스 성장세가 금년 하반 기 건설투자의 부진으로 나타나지는 않을지 물었음.',
   '이에 대해 관련부서에서는 지난해 3/4분기까지 건설수주실적이 저조했던 데 따 른 영향이 금년 하반기까지 계속되기는 하겠으나 새로운 요인으로서 작년 4/4분기 이 후 건설수주실적이 호전되어 실제 착공으로 이어지고 있는 물량과 정부 종합투자계획 이 플러스 요인으로 작용할 것임을 감안하면 하반기경에는 건설투자가 부진에서 벗어 나 점차 개선될 것으로 보인다고 답변하였음.',
   '또한 동 위원은 수출물량이 가격요인보다는 해외 수요요인에 의해 주로 결정된 다는 분석결과와 관련하여 동 분석에서 대상으로 한 기간이 환율 변동이 심했던 외환 위기 전후를 포함하고 있는 데다 국제시장에서 동질의 제품끼리 벌이는 치열한 경쟁에 있어서는 가격이 물량에 미치는 영향력이 상당할 것임을 감안할 때 환율 하락이 수출 에 미치는 영향이 과소평가된 것은 아닌지 물었음.',
   '이에 대해 관련부서에서는 외환위기 직후 수출물량이 크게 늘어나지는 않았다는 점에서 외환위기 전후를 분석기간에 포함한 데 따른 왜곡요인은 크지 않은 것으로 판 단되며 우리나라의 주요 수출품목인 반도체, 자동차, 선박 등이 국제적으로 경쟁력을   지니고 있는 데다 시장점유율도 높기 때문에 수출물량의 가격탄력성이 과거에 비해 현 저히 낮아진 상황이라고 설명하였음.',
   '다른 일부 위원은 동향보고자료 상의 소비관련지표나 통계청 소비자전망조사결 과 중 내구소비재구매지수 등을 볼 때 경제주체들의 소비회복에 대한 기대가 다소 하 락하면서 민간소비 회복에 악영향을 미치는 것은 아닌지 물었으며, 이에 대해 관련부 서에서는 현재까지 나온 지표와 기대심리 등을 고려할 때 내구재 측면에서는 소비가 회복되는 조짐이 뚜렷하지 않으나 비내구재를 중심으로 조금씩 나아지고 있어 완만한 회복세를 보일 것으로 본다고 답변하였음.',
   '동 위원은 근원인플레이션, 소비자물가, 생산자물가 등의 지수물가는 안정세를 보이고 있으나 생활물가의 큰 폭 상승으로 민간의 실질구매력이 크게 하락하여 소비 회복에 부정적인 영향을 미칠 가능성은 없는지 검토해 볼 필요가 있다는 견해를 제시 하였음.',
   '또한 동 위원은 경기순환 상 또는 과거의 경험에 기초한 경기국면 판단은 다소 현 실성이 부족한 측면이 있는 것으로 생각된다면서 현재와 같이 불확실성이 높은 상황에 서 환율, 북핵, 금리역전 등의 주요 위험요인이 복합적으로 일어날 경우 우리 경제에 미 치는 영향을 분석해 볼 필요가 있다는 견해를 나타내었음.',
   '또 다른 일부 위원은 우리의 주요 수출대상국인 미국, 일본, EU 의 경제성장세가   최근 들어 둔화될 조짐을 보이고 있는 데다 중국 위안화가 평가절상될 경우 우리나라 원화도 부분적으로 평가절상 압력을 받을 것으로 보이는 등 수출에 대한 하방위험이 증대되고 있음에도 불구하고 수출이 견조한 증가세를 유지할 것으로 본 것은 다소 낙 관적인 전망으로 생각된다는 의견을 제기하였음.',
   '이에 대해 관련부서에서는 세계경제성장에 대한 하방위험이 있는 것이 사실이나 IMF 등에서 공식적으로 발표한 전망치를 볼 때 그 가능성은 높지 않다고 보며, 위안화 절상 문제도 이를 구체화시켜 고려해야 할 만큼 가능성이 높은 것은 아니며 설사 실현 된다 하더라도 그 폭이 크지 않고 이미 원화가 상당폭 절상되어 있는 상황이기 때문에 원화의 추가절상압력으로 작용할 여지는 크지 않다고 설명하였음.',
   '일부 위원은 정책시차를 감안하여 현재의 통화정책 결정이 내년 상반기 내지 하 반기를 정책시계로 하여 이루어진다는 점에서 북핵, 고용불안 문제와 더불어 대선 1년 전인 내년중 증폭될 지도 모르는 정치면에서의 불안 등에 따른 경제상황의 불확실성에 대한 철저한 대비와 연구가 이루어질 필요가 있다는 견해를 밝혔음.',
   '또한 동 위원은 글로벌화된 세계경제여건 하에서 국내외 경제의 긴밀한 연관성 을 반영할 수 있도록 세계 계량경제모형(world econometric model)의 개발을 검토해 볼 필요가 있다는 견해를 개진하였음.',
   '다른 일부 위원은 금년 1/4분기 경제성장률 하락의 설명요인으로 언급된 조업일   수 감소의 영향이 한 달의 기간에서는 유의할지 몰라도 두 달 이상의 기간에서는 가동 률이 100%에 달하지 않는 이상 특정 기간의 조업일수 감소로 인한 생산 부족분을 이후 잔업 등을 통해 보충할 수 있다는 점에서 성장률 하락을 설명하기에는 충분하지 못할 수도 있다는 견해를 나타내었음.',
   '동 위원은 서비스업 생산을 전망함에 있어 전망모형에 설명변수로 들어간 수출 과 민간소비의 전망치 자체가 불확실하다는 점에서 모형에 의존하는 방법 외에 세부 업종별로 미시적으로 접근하여 전망하는 방법에 대해 검토해 볼 필요가 있다는 견해를 밝혔음.',
   '또한 동 위원은 우리나라의 주요 수출대상국별 주요 수출품목에 대한 검토를 통 해 해외수요 측면에서 수출 전망을 해 볼 필요가 있다고 언급하고, 전통적으로 IT관련 제품의 수출비중이 높은 미국이나 유럽 지역에 대한 수출이 최근 부진한 것과 관련하 여 세계 IT경기에 대한 해외 유관기관들의 다양한 전망과 그 근거를 살펴볼 필요가 있 다는 견해를 나타내었음.',
   '한편 동 위원은 원화 절상이 수출입, 내수, 설비투자 등 각 부문별로 미치는 영향 을 종합한 정상 시나리오와 원화 절상이 시작된 이후 현재까지 약 6개월간의 실제 경과 상황을 비교해보고 양자간에 괴리가 있다면 그 원인이 무엇인지 분석해볼 필요가 있다 는 견해를 피력하였음.'],
  ['일부 위원은 내외금리차 역전에 따라 자금의 해외유출이 대규모로 발생될 가능성을 상당히 경계하여야 한다고 언급하면서 금리격 차가 어느 정도로 벌어질 경우 자금의 해외유출 현상이 유의할 정도로 심화되고 그러 한 현상이 일어날 경우 국내 채권시장에는 어떠한 영향을 미칠 것으로 보는지 물었음.',
   '이에 대해 관련부서에서는 우리나라에서는 그러한 사례가 없었기 때문에 대만과 일본의 사례를 살펴보면 내외금리차 역전이 고착된 상황인 것으로 시장이 인식하여 자 금의 해외유출이 본격화되기 시작했을 때의 금리격차는 약 1.5%포인트 정도였으며, 대만의 경우 유동자금이 많고 외환시장이나 GDP 규모면에서 우리나라보다 훨씬 작기 때문에 국내 채권시장에 미친 영향은 거의 없었던 것으로 생각된다고 설명하였음.',
   '동 위원은 자금의 해외유출에 대한 정책적 대응을 위해 내외금리나 환율에 대해 서도 인플레이션 팬차트와 같이 위험밴드를 설정하여 확률적으로 접근하는 방법을 고 려해 볼 수 있는지 물었으며, 이에 대해 관련부서에서는 내외금리나 환율의 경우 해외 요인의 영향을 크게 받기 때문에 확률적 접근방법의 활용이 매우 어려우며 모니터링을 강화하거나 자금유출 방지를 위한 제도를 마련하는 것이 보다 현실적인 대응방안으로 생각된다고 답변하였음.',
   '다른 일부 위원은 최근 금융기관의 외화대출이 늘어나고 있는 것과 관련하여 금 융기관이 해외에서 차입을 통해 조달하는 외화자금의 통화구성 및 만기와 외화대출 등 에의 운용상황, 통화스왑연계 외화대출 메커니즘 등에 대해 살펴볼 필요가 있다는 견   해를 나타내었음.',
   '또 다른 일부 위원은 전년 동기와 비교할 때 금년 1～4월중 국내시장에 대한 외국 인증권투자 실적이 매우 부진한 반면 해외증권투자는 늘어나는 현상을 어떻게 해석할 수 있는지 물었으며, 이에 대해 관련부서에서는 대만이 5월부터 MSCI (Morgan Stanley Capital International)지수에 편입됨에 따라 3～4월중 외국인 자금의 상당부분이 대만 으로 이동하였으며 내외금리차 축소로 해외증권투자에 대한 기회비용이 줄어든 데다 기관투자자들의 포트폴리오 관리 측면에서도 바람직한 유인이 있어 국내 거주자의 해 외증권투자 여건은 상당히 성숙되어 있는 상황이라고 설명하였음.',
   '동 위원은 경상거래와 자본거래에서 모두 흑자가 발생했던 작년과 비교하여 금 년에는 경상거래에서 발생한 흑자를 자본거래에서의 적자가 어느 정도 상쇄시키고 있 다고 언급하면서 이는 포트폴리오 투자를 위한 정상적인 스무딩(smoothing) 과정으로 보이며 외환보유액 관리 부담을 덜 수 있는 긍정적인 측면도 있다는 점에서 일각에서 제기하는 바와 같이 급격한 자본유출을 우려할 만한 상황은 아닌 것으로 생각된다는 견해를 밝혔음.'],
  ['일부 위원은 4월중 연기금의 주식매매 패턴이 주식 시장의 안정과 역행하는 방향으로 작용했는지 물었으며, 이에 대해 관련부서에서는 4 월중 다른 기관투자가와 달리 연기금에서 순매도를 하면서 주식시장에 다소 부정적인 영향을 미친 것이 사실이나 향후 전반적으로는 안정적인 운용패턴을 유지해 나갈 것으   로 보인다고 답변하였음.',
   '동 위원은 최근 은행들이 마땅한 자금 운용대상 확보가 쉽지 않음에 따라 주택담 보대출 금리를 경쟁적으로 인하하거나 비우량기업에 대한 대출을 늘리는 등의 행태를 보이고 있다고 언급하면서 이러한 행태가 지속될 경우 과도한 금융완화로 인한 금융시 장 불안요인으로 작용할 위험은 없는지 면밀히 점검해 볼 필요가 있다는 견해를 나타 내었음.',
   '이에 대해 관련부서에서는 최근 은행들간의 금리인하 경쟁은 금년중 주택담보대 출 잔액 상당부분의 만기가 집중되면서 이를 유치하려는 데 따른 일시적 현상으로 보 이나 경쟁과열과 비우량기업에 대한 대출이 은행의 수지, 건전성 등에 미칠 수 있는 부 정적인 영향에 대해서는 각별한 주의를 기울여야 할 것으로 생각된다고 설명하였음.',
   '다른 일부 위원은 최근 은행들의 주택담보대출 증대 노력은 과거와 같은 신규대 출 확대의 형태와 아울러 만기도래에 따른 연장분을 경쟁적으로 유치하려는 형태도 나 타나고 있다고 언급하면서, 대출시장이 수요자 우위 또는 공급자 우위인지를 판단하기 위해 만기 연장이 동일 은행에서 낮은 금리를 적용받는 조건으로 이루어지고 있는지 아니면 다른 은행으로의 대출처 변경에 의해 이루어지고 있는지 살펴볼 필요가 있다는 견해를 밝혔음.',
   '한편 동 위원은 4월중 은행 여신과 수신이 대폭 늘어났다는 점에서 은행의 금융   중개기능(financial intermediation)이 실질적으로 활발해진 것으로 볼 수 있는지, 5월 이 후에도 이러한 신장세가 지속될 것인지에 대해 평가․전망해 볼 필요가 있다는 견해를 개진하였음.',
   '또한 동 위원은 금융중개기능의 회복이 민간소비나 투자 등에 어떤 경로를 통해 어느 정도의 시차를 두고 영향을 미칠 것으로 보는지 물었으며, 이에 대해 관련부서에 서는 기업대출이나 가계대출이 늘어난다는 것은 결국 기업이나 가계에서 투자나 소비 를 위한 자금수요가 있다는 것을 의미하기 때문에 큰 시차 없이 투자나 소비로 이어질 것으로 보이며 경기회복에 긍정적인 신호로 해석될 수 있을 것이라고 답변하였음.',
   '또 다른 일부 위원은 현재 주택담보대출의 대부분이 변동금리부 조건으로 이루 어지고 있다는 점에서 향후 금리 상승시 가계에 미치는 부담 증가와 연체율 상승이 발 생할 위험에 대해 유의할 필요가 있다는 견해를 나타내었음.'],
  ['일부 위원은 주택가격 급등에 대해 중앙은행이 정책금리 인상으로 대응했던 영국과 호주의 사례를 참조하여 주택가격 상승률이 어느 정도에 이르렀을 때 정책금리 를 인상하기 시작했으며 그 때의 주택가격 상승률이 우리나라의 경우와 비교할 때 어 떤 수준인지에 대해 검토해 볼 필요가 있다는 견해를 밝혔음.',
   '또한 동 위원은 영국이나 호주의 경우와 달리 경기가 부진한 가운데 주택가격 이 과도하게 상승할 경우 필요한 대응책과 다른 나라의 유사한 사례, 정책 실행 이전 시 그널링(signaling)의 유효성, 토지․부동산버블 문제 등 제반 부동산관련 이슈에 대한 심 도 있는 분석이 조속히 이루어질 필요가 있다는 견해를 피력하였음.',
   '한편 동 위원은 통화정책당국의 시그널링 문제를 검토할 필요가 있다는 관련 부서의 보고가 5월초 정부가 내놓은 부동산시장 안정대책의 기대효과가 크지 않을 것 이라는 예상에 따른 것인지 물었으며, 이에 대해 관련부서에서는 정부의 이번 대책이 다분히 중장기적이고 이미 발표되었던 원칙적인 내용을 많이 담고 있는 데다 부동산시 장 관계자에 대한 모니터링 결과에서도 동 대책이 근본적인 해결책이 되지는 못하며 상황 변화에 따라 다른 조치가 잇따를 것이라는 기대가 시장에 형성되어 있는 것으로 조사되었다고 답변하였음.',
   '이와 관련하여 동 위원은 경기가 부진한 가운데 부동산가격이 불안한 움직임.',
   '을 보이는 상황에서 부동산시장 안정대책의 효과도 미흡할 경우 통화정책 기조를 변경 하지 않더라도 시중자금이 소비나 투자가 아닌 부동산시장으로 집중되어 경기회복을 지연시키고 물가에는 업사이드 리스크로 작용하여 통화정책 효과를 위축시키는 문제 가 나타날 수 있다고 우려하면서, 정책의 효과를 증대시키고 보다 적절한 방향으로 유 도할 수 있도록 하는 방안을 강구할 필요가 있다는 견해를 제시하였음.',
   '다른 일부 위원은 금리의 무차별적인 효과를 감안할 때 금리정책을 주택시장   과 같은 특정 시장의 불안정을 해소시키기 위한 목적으로 쓸 때는 상당히 신중을 기해 야 할 것이며, 정책 실행 이전에 시그널링을 하는 것도 민감하게 반응하는 시장상황에 서 오히려 역효과를 낼 가능성이 있다는 점을 고려할 때, 정책금리 변경이 소비․투자 등 실물경제, 물가, 부동산 등 자산가격, 환율 등에 미치는 효과에 대한 면밀한 분석이 선 행되어야 할 것이라는 견해를 피력하였음.',
   '이에 대해 관련부서에서는 자산가격의 버블 여부와 정도를 파악하는 것 자체 가 매우 어렵기 때문에 자산가격 상승에 대해 금리정책으로 대응하는 것은 물론 신중 을 기해야 하나 중장기적으로 안정기조가 흔들릴 가능성이 있다고 판단된다면 분명한 정책적 대응이 있어야 된다고 생각하며, 정책금리 변경의 효과는 현재 모형을 통한 추 정에 의해 평가할 수밖에 없으나 이는 경제구조의 행태 변화를 반영하지 못하는 한계 를 지니고 있기 때문에 보다 미시적인 접근을 통하여 정책 효과를 평가하는 방안을 검 토하고 있다고 설명하였음.',
   '또 다른 일부 위원은 최근 국지적인 상승세가 전체 지가 상승을 주도하고 있는 토지시장에 대해서도 주의를 기울일 필요가 있다고 언급하고, 부동산시장 문제를 해결 하기 위해 금리정책을 쓸 경우 실질적인 효과를 발휘하기 위해서는 금리 조정이 상당 폭으로 이루어져야 될 것으로 생각된다는 견해를 밝혔음.',
   '일부 위원은 영국이나 호주에서와 같이 주택가격 급등에 대응해 금리를 인상 하더라도 경제회복에 지장을 초래하지 않을 것으로 생각하는지 물었으며, 이에 대해 관련 부서에서는 지금과 같이 경기회복이 지연되는 상황에서 통화정책 대응은 경기에   미칠 영향을 고려하여 신중히 판단할 문제이나 주택시장 불안이 계속된다면 구체적인 행동을 취하지는 못하더라도 시그널링 정도는 필요하다고 생각하며 현재와 같은 상황 에서는 금리를 올려도 경기에 큰 영향을 주지 않을 수 있기 때문에 금리인상이 경기에 미치는 영향에 대해서는 좀더 검토해 볼 필요가 있다고 답변하였음.',
   '동 위원은 미 연준 등에서는 통화정책에 왜곡을 가져올 수 있다는 점에서 주가 수준에 대해 언급하거나 시그널을 주는 것을 금기시하고 있다고 언급하면서 주가와 경 제성장의 관계, 주가전망 등에 대한 보다 심도 있고 신중한 분석이 이루어질 필요가 있 다는 견해를 밝혔음.',
   '한편 동 위원은 통화정책방향을 결정함에 있어 재정정책과의 정책조합(policy mix)을 통해 정책효과를 극대화하기 위해서는 재정부문에 대한 분석이 필수적으로 선 행되어야 한다고 언급하면서 경기부양을 위해 재정의 조기집행이 이루어지면서 한국 은행의 정부에 대한 대출과 통화안정증권 발행이 크게 늘어난 상반기에 비해 하반기에 는 재정수지가 어떻게 될 것으로 전망되는지, 상반기에 비해 하반기 재정정책이 덜 확 장적인 기조를 보일 경우 우리 경제에 미치는 영향은 어떻게 달라질 것으로 보는지에 대해 물었음.',
   '이에 대해 관련부서에서는 현재까지는 연초에 정해진 재정정책 기조가 그대 로 유지되고 있으며 재정집행상황을 볼 때 상반기에 비해 하반기에는 재정지출이 상당 폭 줄어들고 통화안정증권 발행압력도 완화될 것으로 보인다고 답변하였음.',
   '동 위원은 주택시장 불안요인으로서 저금리 기조 이외에 과잉유동성 문제는 없는지 살펴볼 필요가 있으며 이를 위해 기존의 유동성 판단지표 외에 실질국내총생산 증가율과 실질통화증가율을 비교해보고 그 흐름에는 어떤 변화가 있었는지 점검해 볼 필요가 있다는 견해를 나타내었음.',
   '이상과 같은 토론에 이어 콜금리 목표 조정여부 및 조정폭에 관한 위원별 의견 개진이 있었음.',
   '일부 위원은 다음과 같은 점을 종합적으로 고려할 때 이번에는 콜금리 목표를 현 수준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음.',
   '첫째, 고유가에도 불구하고 비교역재가격의 안정으로 근원인플레이션율은 목 표범위 내에서 유지될 확률이 높으며 더 낮아질 가능성도 있음.',
   '둘째, 1/4분기 경제성 장률이 전분기에 비해 둔화될 것으로 보이는 가운데 향후 주요 수출대상국들의 경제성 장 둔화에 따라 수출증가율도 낮아질 가능성이 있는 데다 건설투자, 설비투자의 불확 실성도 상존하고 있음.',
   '셋째, 4월중 은행을 중심으로 여․수신이 크게 늘어나는 등 금융 중개기능이 원활하게 작동되고 주식관련 펀드로 자금 유입이 계속되었으며 금융기관 의 대출태도지수도 계속 호조를 보이고 있음.',
   '넷째, 정부의 부동산시장 안정대책은 특 히 토지에 대해서는 효과를 보이지 못하고 있으며 이는 통화정책에도 부담을 가중시키 고 있음.',
   '다섯째, 일부 지방자치단체의 개발과 관련된 부패사건은 정부에 대한 신뢰를 떨어뜨림은 물론 우리사회에 한탕주의를 만연시켜 국민경제의 총생산성과 장기금융 시장의 발전을 저해하고 통화정책의 효과를 제약하는 요인으로 작용하고 있음.',
   '여섯째   , 중국과 인도의 저임금에 기초한 경제성장으로 세계적으로 낮은 인플레이션이 유지되 면서 우리나라에서도 저금리 하에 인플레이션 목표가 달성되고 있으나 그 이면에는 중 국, 기타 선진국에서 발생한 부동산 버블이 소비에 영향을 미쳐 미국의 경상수지 적자 폭을 확대시키고 외환시장에도 영향을 주어 원화환율이 과도하게 낮아지는 원인을 제 공하고 있음.',
   '일곱째, 원화 절상, 재정의 조기집행, 저금리 유지가 비교적 적절한 정책 혼합으로 판단이 되나 이는 부동산문제 해결에는 적용되기 어려운 측면이 있기 때문에 부동산가격과 건설투자의 연착륙(soft landing) 여부가 불확실함.',
   '다른 일부 위원은 다음과 같은 여러 가지 점을 감안할 때 콜금리 목표를 현 수 준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음.',
   '첫째, 그동안 우리 경제의 성장 원동력으로 작용하였던 수출 증가세가 세계 주 요 경제권의 성장세 둔화와 원화 절상 등으로 둔화되는 조짐이 시차를 두고 나타나고 있는 것으로 보임.',
   '둘째, 민간소비는 조금씩 회복되는 조짐이 보이고 있으나 아직 미흡 한 수준이며 설비투자는 개선의 기미가 보이지 않고 있어 경제성장의 하방위험이 다소 확대된 것으로 생각됨.',
   '셋째, 소비자물가와 근원인플레이션은 4월 들어 다소 안정되는 모습을 보이고 있으나 향후 실물경제가 회복될 경우 수요측면의 상승압력으로 작용할 수 있는 데다 고유가 등 비용측면의 상승압력이 시차를 두고 물가에 불안요인으로 작 용할 가능성이 있음.',
   '넷째, 통화정책은 완화기조를 유지하고 있는 것으로 보이나 미국 이 계속 금리를 인상하고 있는 가운데 ECB 등 다른 주요 중앙은행들도 금리 인상에 동 참하게 될 경우 금리결정을 통한 정책적 대응이 매우 어려운 환경에 직면할 수 있음.',
   '다 섯째, 중국 위안화 절상이 불가피하다는 것이 대세로 받아들여지고 있어 원화의 추가   절상압력으로 작용할 위험이 상존해 있음.',
   '또 다른 일부 위원은 근원인플레이션율이 목표범위를 벗어날 징후가 보이지 않는 가운데 유가 등 원자재가격도 비교적 안정적인 추세를 보일 것으로 예상되고 있 는 반면에 소비, 설비투자 등 내수가 회복되는 기미를 보이고는 있으나 아직 본격적인 회복세에 들어섰다고 보기에는 미흡하며 미국을 중심으로 한 긴축적 통화정책 등으로 불리한 대외여건이 조성되면서 수출의 하방위험이 높아지고 있어 이달에 콜금리 목표 를 현 수준에서 유지하는 것이 바람직해 보인다는 견해를 나타내었음.',
   '아울러 동 위원은 다음과 같은 불확실성에 대해 예의주시하면서 대응 방안을 심각하게 고민해야 할 상황이라는 의견을 덧붙였음.',
   '첫째, 경기회복을 위해 완화적인 통화정책 기조를 유지하는 데 따른 부작용으 로 부동산시장에 거품이 형성될 수 있다는 데 유의하면서 필요할 경우 단호히 대처해 나갈 필요가 있음.',
   '둘째, 달러화 및 위안화의 변동성이 커지면서 세계 금융시장이 불안 해지고 미국을 중심으로 한 긴축정책으로 그동안 세계경제 호황 중에 형성된 거품이 붕괴될 위험이 증대되고 있으며 북핵문제, 집단이기주의로 인한 정책 추진 및 대응능 력 약화 등 대내외적으로 불확실성이 심각한 수준에 이르고 있는 것으로 생각됨.',
   '한편 일부 위원은 경기부양을 위해 적자재정정책이 계속되고 있고 통화정책 도 여전히 완화기조를 유지하고 있는 반면 원화 절상은 경기에 반대 방향으로 작용하 는 측면이 있다고 언급하면서, 다음과 같은 점을 고려할 때 현재로서는 정책금리 목표   를 바꿀 상황은 아닌 것으로 생각되어 이번에는 콜금리 목표를 현 수준에서 유지하는 것이 바람직해 보인다는 견해를 제시하였음.',
   '첫째, 소비와 투자가 조금씩 증가하고는 있으나 그 폭은 여전히 미약하고 가까 운 장래에 크게 늘어날 가능성도 낮은 가운데 유럽, 일본 경제의 회복이 더딜 것으로 보 여 수출에 부정적인 영향을 미칠 것으로 판단됨.',
   '둘째, 물가는 경기부진과 환율 하락에 기인하여 대체로 안정세를 유지하고 있으나 원유가격이 여전히 당초 전망 수준을 웃돌 고 있어 물가상승압력으로 작용할 위험이 상존해 있음.',
   '셋째, 4월중 금융기관 대출이 늘어난 것은 기업대출 증가와 금융중개기능 관점에서 긍정적으로 볼 수 있겠으나, 다 른 한편으로는 주택대출 증가가 부동산시장으로의 자금 유입으로 이어진다는 점에서 유의할 상황인 것으로 생각되며, 부동산문제에 대응하여 시그널링을 할 경우 실제 행 동이 뒤따라야 하는 부담이 생기므로 시그널링의 시기 결정에는 신중을 기하여야 할 것으로 생각됨.',
   '다른 일부 위원은 다음과 같은 점을 종합적으로 고려할 때 전반적인 경제상황 은 불안요인이 점증하는 가운데 상․하방위험이 혼재된 상황이라고 판단되며, 이러한 불안요인을 제거하기 위해서는 선제적인 대응이 필요하겠으나 아직은 방향성이 뚜렷 하다고 보기 어렵기 때문에 콜금리 목표를 현 수준에서 유지하면서 그동안의 정책금리 변경의 효과를 치밀하게 분석․검토하여 차후에 대비하는 것이 바람직해 보인다는 견 해를 피력하였음.',
   '첫째, 수출은 물량 기준으로는 증가세를 이어나갈 것으로 예상되나 금액 기준   으로는 치열한 국제경쟁여건, 환율하락 영향을 감안할 때 견조한 증가세를 지속하는 데 어려움이 있을 것으로 보이며 이에 따라 수출기업의 채산성 악화와 기업투자, 민간 소비의 부진으로 이어질 가능성을 배제할 수 없음.',
   '둘째, 내구재 소비관련 지표의 부진 으로 볼 때 민간주체들의 경기회복에 대한 기대가 다소 약화된 것으로 보이며 실업률 이 안정실업률(NAIRU)을 큰 폭으로 웃도는 등 고용여건도 나아지고 있지 않아 본격적 인 소비회복에는 다소 시일이 소요될 것으로 생각됨.',
   '셋째, 총수요 부진에 기인하여 지 수물가는 대체로 안정세를 유지하고 있으나 고유가 등으로 비용측면의 물가상승압력 이 여전하며 시중자금의 단기화 현상과 금융기관들이 경쟁적으로 주택관련 가계대출 을 늘리는 행태가 부동산가격 불안을 야기하여 민간의 인플레이션 기대심리를 자극할 우려를 낳고 있음.',
   '넷째, 국제경제 여건면에서도 북핵 등 지정학적 위험, 미국경제의 소 프트 패치(soft patch)와 물가불안, 위안화 절상 가능성 등으로 그 어느 때보다 불확실 성이 증대되고 있는 상황임.',
   '또 다른 일부 위원은 다음과 같은 점을 종합적으로 고려할 때 이달에 콜금리 목표를 현 수준에서 유지하는 것이 바람직해 보인다는 의견을 표명하였음.',
   '첫째, 고유가가 당분간 지속되면서 물가상승요인으로 작용하겠으나 금년중 협약임금상승률을 볼 때 임금은 비교적 안정세를 유지할 것으로 예상되며 원/달러 환 율이 1,000원 안팎에서 등락을 하고 총수요압력도 적어도 연말까지는 낮은 수준을 지 속할 것으로 보여 전반적으로 물가는 목표범위 내에서 안정될 수 있을 것으로 생각됨.',
   '둘째, 건설투자의 부진이 지속되는 가운데 제조업생산과 수출 증가세가 둔화되고 있어 경기회복이 기대에 못 미치는 완만한 속도로 이루어지고 있는 것으로 보임.',
   '셋째, 시장   금리가 낮은 수준에서 안정세를 유지한 가운데 금융기관의 여신활동이 활발해진 것으 로 나타나고 있어 금융시장에서는 비교적 양호한 징후가 감지되고 있음.',
   '넷째, 부동산 시장에서는 최근 불안한 조짐이 관측되고 있어 이에 대한 대응방안으로 5월초에 있었 던 정부 대책의 효과를 예의주시하면서 시장에 시그널링을 하는 방안을 신중하게 검토 해 볼 필요가 있다고 생각됨.',
   '이와 같은 위원들간의 견해 표명에 따라 위원들은 콜금리 목표를 현 수준에서 유지하는 방향으로 구체적인 의결문안을 작성하였으며, 이에 대해 위원들이 모두 동의 하였음.'],
  [],
  []))

## 저장/로드

In [ ]:
# import pickle

# mpd_file = data_dir + 'dataframes/mpd_df.pkl'

# with open(mpd_file, 'wb') as f:
#     pickle.dump(mpd_df, f, pickle.HIGHEST_PROTOCOL)

In [ ]:
import pickle

mpd_file = data_dir + 'dataframes/mpd_df.pkl'

with open(mpd_file, 'rb') as f:
    mpd_df = pickle.load(f)

In [ ]:
mpd_df

                                                 title  ...                                        content_sep
0    금융통화위원회 의사록(2005년도 제10차)(2...  ...  ([Economic Situation, Foreign Currency, Financ...
1                   금융통화위원회 의사록(2005년도 제12차)(2005.6.9)  ...  ([Economic Situation, Foreign Currency, Financ...
2                  금융통화위원회 의사록(2005년도 제13차)(2005.6.23)  ...  ([Economic Situation, Foreign Currency, Financ...
3                   금융통화위원회 의사록(2005년도 제14차)(2005.7.7)  ...  ([Economic Situation, Foreign Currency, Financ...
4                  금융통화위원회 의사록(2005년도 제17차)(2005.8.11)  ...  ([Economic Situation, Foreign Currency, Financ...
..                                                 ...  ...                                                ...
258               금융통화위원회 의사록(2017년도 제18차)(2017.9.21.)  ...  ([Economic Situation, Foreign Currency, Financ...
259              금융통화위원회 의사록(2017년도 제19차)(2017.10.19.)  ...  ([Economic Situation, Foreign Currency, Financ...
260               금융통화위원회 의사록(2017년도 제21차)(2017.11.9.)  ...  ([Economic Situation, Foreign Currency, Financ...
261              금융통화위원회 의사록(2017년도 제22차)(2017.11.30.)  ...  ([Economic Situation, Foreign Currency, Financ...
262               금융통화위원회 의사록(2017년도 제23차)(2017.12.7.)  ...  ([Economic Situation, Foreign Currency, Financ...

[263 rows x 4 columns]

In [ ]:
mpd_df.dtypes

title                  object
content                object
time           datetime64[ns]
content_sep            object
dtype: object